/* Formulário de responder perguntas. */
textarea.large-compact {
	height: 65px;
	border-radius: 20px;
}

/* Chat */
.rmsg, .lmsg {
	width: 70%;
	border-radius: 15px;
}
.rmsg {
	background: linear-gradient(to right, rgba(241,111,161,50%), rgba(144,86,241,50%));
	float: right;
}
.lmsg {
	float: left;
}
.txt {
	padding: 10px;
	margin: 1px;
	border-radius: 15px;
}
.msg {
	font-size: 14px;
	background-color: transparent !important;
}
@media (min-width: 320px) and (max-width: 580px) {
  .rmsg, .lmsg {
	  width: 85%;
  }
}
/* Chat-end */

/* Menubar */
html {
    overflow-y: scroll; /* Fix deslocamento de menubar */
}
ol, ul {
    list-style: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
:root {
  --color-bg-primary: #d0d6df;
  --color-bg-primary-offset: #f1f3f7;
  --color-bg-secondary: #fff;
  --color-text-primary: #3a3c42;
  --color-text-primary-offset: #898c94;
  --color-orange: #dc9960;
  --color-green: #1eb8b1;
  --color-purple: #657cc4;
}
.menu {
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 20px 20px;
}
.menu-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 2px 5px;
}
.menu-item {
  position: relative;
  font-size: 20px;
}
.menu-button {
  font: inherit;
  border: 0;
  padding: 5px 6px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
}
.menu-button:hover {
  background-color: rgb(0, 0, 0, 0.2);
}
.menu-button:hover + .menu-sub-list {
  display: flex;
}
.menu-button:hover svg {
  stroke: var(--color-text-primary);
}
.menu-button svg {
  flex-shrink: 0;
  stroke: var(--color-text-primary-offset);
}
.menu-button svg:nth-of-type(2) {
  margin-right: 0;
  position: absolute;
  right: 6px;
}
.menu-button--delete:hover {
  color: var(--color-red);
}
.menu-button--delete:hover svg:first-of-type {
  stroke: var(--color-red);
}
.menu-button--orange svg:first-of-type {
  stroke: var(--color-orange);
}
.menu-button--green svg:first-of-type {
  stroke: var(--color-green);
}
.menu-button--purple svg:first-of-type {
  stroke: var(--color-purple);
}
.menu-button--black svg:first-of-type {
  stroke: var(--color-black);
}
.menu-button--checked svg:nth-of-type(2) {
  stroke: var(--color-purple);
}
.containerem {
  position: fixed;
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#notif-badge {
  background-color: red;
  font-size: 9px;
  float: right;
  position: relative;
  margin-left: -20px;
  margin-top: 0px;
  border-radius: 80px;
  padding: 1px;
  max-width: 5ch;
  overflow: hidden;
}
button font {
    width: 25px;
    margin-top: 2px;
}
#menuarrow {
    padding: 10px;
    display: none;
}
.arr ion-icon {
    font-size: 54px;
    color: #007bff;
}
/* Menubar-end */

/* Index */
.qinfo {
	display: block;
}
.qinfo span {
	display: inline-block;
}
.navegacao a {
    color: white;
}
.navegacao a:hover {
    color: white;
}
.navegacao {
    background: rgba(0, 0, 0, 0) linear-gradient(to left, rgb(241, 111, 161), rgb(144, 86, 241));
    color: white;
    position: fixed;
    padding: 5px 10px;
    padding-top: 2px;
    top: 55px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.qcreator-small {
	margin-left: 5px;
	font-weight: 600;
	font-size: 11px;
	opacity: 0.6;
	text-decoration: none;
	color: inherit;
	vertical-align: middle;
	padding-top: 2px;
}
.profile-pic-small {
	width: 27px;
	height: 27px;
	border-radius: 100px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	vertical-align: middle;
	display: inline-block;
}
.profile-picture-index {
	padding-bottom: 7px;
}
#new-q-btn button {
	border: none;
	border-radius: 50px;
}
#new-q-btn {
	position: fixed;
	display: none;
	z-index: 9999;
	width: inherit;
	max-width: inherit;
	top: 11vh;
	text-align: center;
}
.index-qimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.index-qimg-off, .index-qimg-on, .index-qvid {
    border-radius: 10px;
    overflow: hidden;
}
.index-qimg-off {
    max-height: 400px;
}
.index-qimg-on {
    max-height: 100%;
}
.index-qimg-btn {
	margin-top: -100px;
}
.index-qimg-btn, .index-qvid-btn {
    border: 0;
    background: transparent;
    padding: 0px;
    display: block;
    width: 100%;
    cursor: default !important;
}
.index-qimg-container {
    overflow: hidden;
	padding-bottom: 9px;
}
.qvid-controls a {
	vertical-align: sub;
	cursor: pointer;
	color: white;
}
.qvid-controls a:hover {
	color: white;
}
.qvid-controls {
	padding: 0px 15px;
}
.qvid-file {
	max-height: 400px;
	width: 100%;
}
.index-qvid {
	background-color: black;
}
.qvid-thumb {
    max-height: 400px;
    width: 100%;
    visibility: hidden;
}
.qvid-thumb-container {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    vertical-align: middle !important;
}
.overflow-guide {
    opacity: 0;
    position: relative;
    top: 400px;
    background: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,40%));
    width: 100%;
    height: 100%;
}
#reload {
	width: 35px;
	height: 35px;
	margin-right: 4px;
}
.spinner {
  animation: spin-animation 1s infinite;
  display: inline-block;
}
.answer-btn {
	display: none;
}
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.question-title {
	font-size: 1em;
	font-weight: bold;
}
.end {
	font-size: larger;
	text-align: center;
}
/* Index-end */

/* Ask */
.ask-form * {
	margin-top: 5px;
}
#button-container {
    margin-top: 10px;
    margin-bottom: 5px;
}
#poll-box {
  margin-bottom: 10px;
}
/* Ask-end */

/* Error */
.err-msg {
    text-align: center;
}
/* Error-end */

/* Profile */
.spacer-h {
	width: 3px;
	opacity: 0;
}
.uinfo-title {
	padding: 5px;
	border-right: 0px solid rgb(110,110,110,0.3);
}
.uinfo-title font {
	font-size: 12px;
	font-weight: 900;
}
.uinfo-val {
	padding: 3px;
	font-size: 13px;
	font-weight: 400;
}
#bio {
    width: 80%;
}
#center1 img {
    max-width: 30vw;
    max-height: 30vh;
    display: block;
}
.listed-user a {
    float: left;
}
.listed-user span {
    float: right;
    cursor: pointer;
}
.hidden-section {
	display: none;
}
/* Profile-end */

/* Question */
.qctrl a {
	display: inline-block;
}
#stqa span {
	margin-left: 2px;
	font-size: 17px;
	vertical-align: super;
}
#stqa {
	padding-right: 10px;
}
.response-image {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: auto;
}
.vid-container {
  height: 20vw;
  max-height: 350px;
}
.yt-vid {
  position: relative;
  width: 60%;
  height: 100%;
  display: block;
}
.poster-info {
  font-size: 80%;
  display: flex;
  text-decoration: none;
}
.poster-info:hover {
  text-decoration: none;
}
.poster-container, .best-answer-badge {
  margin-bottom: 15px;
}
.best-answer-badge span {
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.poster-profile-pic-container,
.poster-text-container {
  display: flex;
  align-items: center;
  padding-right: 6px;
}
.poster-profile-pic-container img {
  width: 45px;
  min-height: 20px;
  max-height: 70px;
}
.poster-text-container .r-username {
	display: block;
}
.choice.list-group-item:first-child {
  border-top: none;
}
.chooser label {
  cursor: pointer;
  width: 100%;
  margin-bottom: -6px;
}
.progress {
    border: 1px solid #ccc;
}
.choice-show {
    margin-bottom: 5px;
}
.choice.list-group-item:hover, .c {
  background-color: rgba(0, 0, 0, 0);
}
.comments {
  margin-top: 14px !important;
  padding: 10px 0px !important;
}
.comments .card-body {
  padding: 15px;
}
.comm-card {
  padding-top: 1.25rem;
}
.edit-response-textarea {
    margin-top: 12px;
}
#edit-response-form, #upload-photo {
  display: none;
}
.heart-comment {
  display: inline;
}
.hc-icon {
  cursor: pointer;
}
.response-control {
    float: right;
}
@media (min-width: 320px) and (max-width: 580px) {
  .r-question {
    width: 95%;
    margin: auto;
  }
  .vid-container {
    height: 50vw;
    max-height: 300px;
  }
  .yt-vid {
    position: relative;
    width: 90%;
    height: 100%;
    display: block;
  }
}
/* Question-end */

/* To generalize */
.flexbox {
    display: flex
}
.fg-1 {
    flex-grow: 1;
}
/* To generalize-end */

/* Rank */
.ranked-u-stats {
    display: flex;
}
.ranked-u-stats div {
    flex-grow: 1;
}
/* Rank-end */

/* Notification */
.page-btn-container {
    display: flex;
    padding: 2px;
}
.page-btn-container a {
    margin: 2px;
}
/* Notification-end */

/* General */
.nav-tabs .nav-link.active {
    background: transparent;
    font-weight: 800;
}
.hidden {
    display: none !important;
}
.no-horiz-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.card {
    margin-bottom: 2px;
	border: none !important;
	background: transparent;
}
#tabs {
	width: 100%;
	max-width: 920px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 1% auto;
	margin-bottom: -1px;
	border-bottom: none;
	overflow-x: auto;
	overflow-y: hidden;
	flex-wrap: nowrap;
}
#tabs li {
	cursor: pointer;
    white-space: nowrap;
}
.form-control {
  border: 1px solid rgba(0,0,0,.125);
}
.vertical-spaced {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.left-spaced {
    margin-left: 5px;
}
.right-spaced {
    margin-right: 10px;
}
.separator-100 {
    height: 100px;
}
.separator-75 {
    height: 75px;
}
.separator-50 {
    height: 50px;
}
main {
    width: 60%;
    max-width: 960px;
    margin: auto;
}
.small-text {
    font-size: 80%;
}
.list-group-item {
  border: none !important; /* Retira border-top */
}

.list-group-item:focus,
.list-group-item:hover {
  /*Corrige BS*/
  z-index: 0;
  text-decoration: none;
}
.btn-group.justified {
    display: flex !important;
}
.btn-group.justified button {
    width: 100%;
}
.float-right {
    float: right;
}
.inline {
    display: inline;
}
.comm-form {
  display: flex;
  flex-direction: column;
}
.inline-input .left-input {
  flex-grow: 1;
  margin-right: 10px;
}
.modal-body {
  padding: 1px;
}
.comm-form * {
  margin-top: 4px;
  width: 100% !important;
}
@media (min-width: 320px) and (max-width: 580px) {
  .inline-input .left-input {
    margin-right: 0px;
  }
  .inline-input .btn {
    margin-top: 4px;
    flex-grow: 1;
  }
  main, #tabs {
      width: 98%;
  }
}
/* General-end */

/* Neo */
.card {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: transparent !important;	
}
.card-body {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.list-group-item {
  padding: .75rem 0px !important;
}
.questao card-body {
	overflow-x: hidden;
}
/* Neo-end */
