/* Question */
.poster-info {
  color: #343a40;
}
.poster-info:hover {
  color: black;
}
.post-pub-date {
  color: #888;
}
/* Question-end */

/* General */
.clickable, .clickable:hover {
    color: #212529;
}
.bg-main {
  background-color: white !important;
  color: black;
}
.bg-outer {
  background-color: whitesmoke !important;
  color: #212529;
}
.bg-inner {
  background-color: rgba(0, 0, 0, .03) !important;
  color: #212529;
}
.bg-innermost {
  background-color: rgba(0, 0, 0, .03) !important;
  color: #212529;
}
.small-text, .light-text {
    color: #888;
}
.bg-faint-gradient {
    background: linear-gradient(#f16fa1, #9056f1);
    color: white !important; 
}
#notif-badge {
  color: white !important;
}
.card-body, .menu {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.1), -2px -2px 10px rgba(255,255,255,0.1);
}
/* General */
