.signin-form {
	width: 50%;
	margin: 5% auto;
}
.error-alert {
	margin: 1%;
}
.form-control {
  border: 1px solid rgba(0,0,0,.125);
}
#logo {
	margin-bottom: 5%;
}

@media (min-width: 320px) and (max-width: 480px) {
	.signin-form {
		width: 90%;
	}
}

@-webkit-keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}
