<div id="barcontainer" style="transition: 0.3s; margin-top: -78px; position: fixed; z-index: 9999999; width: 100%; max-width: 400px">
    <div id="searchcontainer" class="bg-outer" style="box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15);">
        <div id="searchcontainer">
            <form action="/search" class="card-body" style="display: flex">
                <input id="searchbar" class="form-control" type="text" name="q" style="flex-grow: 1; border-radius: 20px; font-weight: 500" placeholder="Busca:" autocomplete="off" maxlength="180">
                <button class="btn btn-primary" style="height: 36px; width: 36px; padding: 6px; border-radius: 50px; margin-top: 1px; margin-left: 3px;" onclick='newSearch()'>
                    <ion-icon name="search"></ion-icon>
                </button>
            </form>
        </div>
    </div>
    <div id="menubar" class="containerem" style="height: 57px; padding: 0px">
        <div class="menu" style="width: 100%; border-radius: 0px 0px 25px 25px; max-width: 400px; align-items: center; justify-content: center;">
       
        <ul class="menu-list" style="margin-top: 5px;">
       <li class="menu-item"><button id='dark-mode' class="menu-button"><font color="#fff" style="color: #fff; font-size: 18px; font-weight: 900"><ion-icon name="bulb-outline"></ion-icon></font></button></li>
       <a href="/rules"> <li class="menu-item"><button class="menu-button"><font color="#fff" style="color: #fff; font-weight: 900"><ion-icon name="alert-circle-outline"></ion-icon></font></button></li></a>
            <li class="menu-item" id="searchbtn"><button class="menu-button"><font color="#fff" style="color: #fff; font-size: 18px; font=weight: 900"><ion-icon name="search-outline"></ion-icon></font></button></li>
        </ul>
        <ul class="menu-list" style="align-items: center; justify-content: center;">
          <a href="https://asker.fun/"><li class="menu-item"><button class="menu-button">
            <div style="border-radius: 300px; background: url(/media/avatars/Asker%20Admin-2021-12-01-15%3A06%3A17.088222); width: 50px; height: 50px; background-position: center center; background-size: cover; background-repeat: no-repeat"></div>
            </button></li>
          </a>
            <a href="/notifications">
                <li class="menu-item" style="margin-top: 5px;">
                    <button class="menu-button"><font color="#fff" style="color: #fff; font-size: 18px; font-weight: 900">
                        <ion-icon name="earth-outline"></ion-icon>
                        {% if user_p.new_notifications > 0 %}
                            <div id="notif-badge">{{ user_p.new_notifications }}</div>
                        {% else %}
                            <div id="notif-badge" style="display: none;">{{ user_p.new_notifications }}</div>
                        {% endif %}
                    </font></button>
                </li>
            </a>
           <a href="/rank"><li class="menu-item" style="margin-top: 5px;"><button class="menu-button"><font color="#fff" style="color: #fff; font-size: 18px; font-weight: 900"><ion-icon name="trophy-outline"></ion-icon></font></button></li></a>
           <a href="/ask"> <li class="menu-item" style="margin-top: 5px;"><button class="menu-button"><font color="#fff" style="color: #fff; font-size: 18px; font-weight: 900"><ion-icon name="pencil"></ion-icon></font></button></li></a>
             
        </ul>
        </div>
    </div>
</div>
<script>
    var menu_status = 0;
    document.getElementById('searchbtn').addEventListener('click', function(e) {
        if (menu_status == 0) {
            document.getElementById('barcontainer').style.marginTop = '0px';
            menu_status = 1;
        } else {
            document.getElementById('barcontainer').style.marginTop = '-78px';
            menu_status = 0;
        }
    });
</script>
