<div class="containerem">
    <div class="menu">
    <ul class="menu-list">
        <a href="/"><li class="menu-item"><button class="menu-button"><font color="#fff" style="color: #fff; font-weight: 900"><ion-icon name="home-outline"></ion-icon></font></button></li></a>
        <li class="menu-item"><button id='dark-mode' class="menu-button"><font color="#fff" style="color: #fff; font-weight: 900"><ion-icon name="bulb-outline"></ion-icon></font></button></li>
        <a href="/rank"><li class="menu-item"><button class="menu-button"><font color="#fff" style="color: #fff; font-weight: 900"><ion-icon name="trophy-outline"></ion-icon></font></button></li></a>
    </ul>
    <ul class="menu-list">
        <a href="/user/{{ user.username }}"><li class="menu-item"><button class="menu-button">
        <div style="margin-left: -2px; border-radius: 300px; background: url({{user_p.avatar.url}}); width: 30px; height: 30px; background-position: center center; background-size: cover; background-repeat: no-repeat"></div>
        </button></li></a>
        <a href="/notifications">
            <li class="menu-item">
                <button class="menu-button"><font color="#fff" style="color: #fff; font-weight: 900">
                    <ion-icon name="earth-outline"></ion-icon>
                    {% if user_p.new_notifications > 0 %}
                        <div class="notif-badge">{{ user_p.new_notifications }}</div>
                    {% endif %}
                </font></button>
            </li>
        </a>
        <a href="/ask"> <li class="menu-item"><button class="menu-button"><font color="#fff" style="color: #fff; font-weight: 900"><ion-icon name="pencil"></ion-icon></font></button></li></a>
        <a href="/rules"> <li class="menu-item"><button class="menu-button"><font color="#fff" style="color: #fff; font-weight: 900"><ion-icon name="alert-circle-outline"></ion-icon></font></button></li></a>
    </ul>
    <ul class="menu-list">
        <a href="/logout"> <li class="menu-item"><button class="menu-button"><font size="2" color="white" style="font-weight: 900">Sair</font></button></li></a>
    </ul>
    </div>
</div>