{% load main_app_extras %}
{% load humanize %}
<!doctype html>
<html lang="pt-br">
<head>
<title>Asker | Página inicial</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Faça e responda perguntas na melhor e mais divertida comunidade de perguntas e respostas!">
<meta name="keywords" content="br.asker.fun, asker.fun, perguntas, respostas, asker">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/common.min.css">
<script src="/static/js/cookieman.js?v=1"></script>
<script>
var cssfn = 'light.css';
var cssversion = '?v=5.14';
if (getDarkCookie() == 'true') { cssfn = 'dark.css'; }
var link = document.createElement('link');
link.rel = 'stylesheet';
link.type = 'text/css';
link.href = '/static/css/' + cssfn + cssversion;
document.head.appendChild(link);
</script>
<script>var csrf_token = "{{ csrf_token }}";{% if user.is_anonymous %}var user_status = "anonymous";{% else %}var user_status = "logged";{% endif %}</script>
<style>body{display:none}.navegacao{margin-top:10px;margin-bottom:10px}.navegacao button{border-radius:0;font-size:.8em}</style>
<!-- Propeller ads -->
<meta name="propeller" content="08161356dc022ea83aa0c1c2b5097e09">
</head>
{% if SOCIAL_AD %}
<script type='text/javascript' src='//pl16501151.highperformancecpm.com/40/16/25/401625261f29ca1666968a67f459e500.js'></script>
{% endif %}
	<body>
	{% include "includes/navbar.html" %}
<main>
<script>
	{% if POPULAR %}
		var mostrar_primeiro = "popular";
	{% else %}
		var mostrar_primeiro = "recentes";
	{% endif %}
</script>
<div class="navegacao">
	<button class="btn btn-outline-primary text-uppercase" id="botao-popular">popular</button>
	<button class="btn btn-outline-primary text-uppercase left-spaced" id="botao-recentes">recentes</button>
  {% if user_p.message == 'reward' %}
    &nbsp;<a href="/rewards">Resgatar moedas</a>
    <i class="fas fa-coins fa-sm"></i>
  {% endif %}
</div>
<script>-1!=window.location.href.indexOf("news")&&(document.getElementById("logo").href="/news");var botao_popular=document.getElementById("botao-popular"),botao_recentes=document.getElementById("botao-recentes");botao_popular.onclick=function(){document.getElementById("logo").href="/",botao_popular.style.borderBottomWidth="3px",botao_recentes.style.borderBottomWidth="1px",document.getElementById("questoes_populares").style.display="block",document.getElementById("novas_questoes").style.display="none",window.history.replaceState("object or string","Title","/")},botao_recentes.onclick=function(){document.getElementById("logo").href="/news",botao_popular.style.borderBottomWidth="1px",botao_recentes.style.borderBottomWidth="3px",document.getElementById("questoes_populares").style.display="none",document.getElementById("novas_questoes").style.display="block",window.history.replaceState("object or string","Title","/news")};</script>
<!-- Questões recentes -->
<section class="card bg-main" id="novas_questoes">
	<ul class="list-group list-group-flush" id="lista_de_questoes_recentes">
        {% for question in recent_questions %}
            {{ question }}
        {% endfor %}
	</ul>
	<button class="btn btn-outline-primary" onclick="load_more(this, this.nextElementSibling);">Carregar mais</button>
	<center style="display: none"><i class="fas fa-spinner fa-3x fa-spin"></i></center>
</section>
<!-- !Questões recentes -->
<!-- Questões populares -->
<section class="card bg-main" id="questoes_populares">
	<ul class="list-group list-group-flush" id="lista_de_questoes_populares">
	</ul>
	<div class="end"><p>Fim! <i class="far fa-sad-cry"></i> Veja as <a href="/news">perguntas recentes.</a></p></div>
</section>
<!-- !Questões populares -->
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
<script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify-jquery.min.js"></script>
<script src="/static/js/index.js?v=4.2"></script>
</body>
</html>
