{% load humanize %}
{% load main_app_extras %}
<!doctype html>
<html lang="pt-br" style="height: 100%; scrollbar-width: none;">
    <head>
        <title>Mensagens</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  	    <meta name="theme-color" content="#68228B" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#68228B" />
        <meta name="msapplication-navbutton-color" content="#68228B" />
		<style id="wait">
			body {
				visibility: hidden;
				opacity: 0;
			}
		</style>
		<style>
		#msg_txtarea {
			scrollbar-width: none;
			-ms-overflow-style: none;
		}
		
		</style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
        {% include "includes/themehandler.html" %}
		<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> 
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>

    <body style="height: 100%;">
        {% if user.is_authenticated %}
	       
<script>
function voltar() {
window.history.back();
}
</script>

<center>
    <div id="menubar" class="containerem" style="height: 38px; padding: 0px; position: fixed">
        <div class="menu bg-main" style="width: 100%; padding-bottom: 3px; border-radius: 0px 0px 25px 25px; max-width: 200px; align-items: center; justify-content: center;">
       
        <ul class="menu-list" style="margin-top: 5px; align-items: center">

        
      <li class="menu-item">
     <a> <button class="menu-button" onclick="voltar()">
      <font style="font-size: 19px; font=weight: 900">
  <ion-icon name="arrow-undo-outline"></ion-icon>
      </font>
      </button>
     </a>
      </li>
          
        <a href="/"><li class="menu-item">
          <button class="menu-button" style="padding-bottom: 8px">
             <img width="88px" src="https://i.imgur.com/ym4eX3y.png"></img>
          </button></li>
          </a>
           
   
      {% if user.is_authenticated %}
			<a href="/user/{{ user.username }}" class="menu-button" id="botao-seguind" style="text-decoration: none; outline: none; cursor: pointer;">
       <img src="{{user_p.avatar.url}}" style="border-radius: 300px; width: 25px; height: 25px;"></img>
            </a>  
      {% endif %}
      
        </ul>
        </div>
    </div>
</center>
        {% endif %}
        <main style="height: 100%; display: flex; flex-direction: column;">
			<div>
				<br><br><br>
			</div>
		
            <section id="chatbox" class="card bg-main" style="overflow-y: scroll; height: 100%;">
								
				{% if messages %}
				<button id="load-old" class="page-btn btn btn-primary vertical-spaced" style="border-radius: 30px; width: 45%; margin-right: auto; margin-left: auto;" onclick="load_old()">Ver Mais</button>
				{% endif %}
                <ul id="msg-l" class="list-group">
					<div class="hidden">
						<span id="vchk" style="position: absolute; right: 30px; bottom: 20px;">
							<ion-icon style="background-color: rgba(255,255,255,20%); border-radius:10px;" name="checkmark-outline"></ion-icon>
						</span>
					</div>
				{% include "base/chat-messages.html" %}
                </ul>
			
				<br><br>
            </section>
			
			<div class="card-body" style="padding-left: 30px; padding-right: 30px; padding-bottom: 20px; padding-top: 20px; background: transparent; display: flex; flex-direction: row;">
				<br>
				<textarea id="msg_txtarea" maxlength="260" class="form-control large-compact" style="font-size: 11px; font-weight: 600; border-radius: 10px; height: 100%; margin-right: 3px; border: none" placeholder="Fale Aqui..." name="text" onkeypress="txt_v();"></textarea>
				<div style="display: flex; flex-direction: column; padding-left: 10px">

				<form style="text-align: center;" method="post" enctype="multipart/form-data" id="img-form">
					{% csrf_token %}
					<input type="hidden" name="c" value="{{ cid }}">
					<label style="margin: auto;" for="upload-photo">
						<i class="fas fa-camera fa-lg"></i>
						<span id="upload-photo-text"></span>
					</label>
					<input type="file" accept="image/*" name="file" id="upload-photo" onchange="add_img();">
					<img src="/static/images/close-icon.png" width="10px" style="opacity: 0.7; display: none; cursor: pointer;" id="delete-photo-icon" onclick="rm_img();">
					
				</form>
				
				<button id="send-btn" class="btn btn-primary left-spaced" style="border-radius: 100px; font-size: 18px; font-weight: 800; padding-top: 10px" onclick="send_msg();">
                    <ion-icon name="send-outline"></ion-icon>
				</button>
					
				</div>
			</div>
			<div style="height: 10px;"></div>
        </main>
		<script>
			var CID = {{ cid }};
			var CSRF_TOKEN = '{{ csrf_token }}';
		</script>
		<script src="/static/js/chat.js?v=0.8.6"></script>
	    <script src="/static/js/common.js?v=1.5"></script>

    </body>
</html>
