<!doctype html>
<html lang="pt-br">
<head>
<title>Editar perfil</title>
<style id="wait">
	body {
		visibility: hidden;
		opacity: 0;
	}
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> 
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% include "includes/themehandler.html" %}
</head>


	<body>
        {% if user.is_authenticated %}
	        {% include "includes/menubar.html" %}
        {% endif %}
		{% include "includes/navbar.html" %}
    <main style="padding: 50px 20px">

		<h4>Foto de Perfil:</h4>
		<form method="post" enctype="multipart/form-data">
			<input type="hidden" name="type" value="profile-pic">
			{% csrf_token %}
			<label for="image">Escolha uma imagem:</label>
			<input type="file" class="form-control-file" id="image" name="file" required="required">
			<div style="padding-top: 5px"><input type="submit" class="btn btn-primary" style="border-radius: 30px" value="Alterar Foto"></div>
		</form>

        <br>
        <br>

        <h4>Foto de Capa:</h4>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="type" value="cover-pic">
            {% csrf_token %}
            <label for="cover">Escolha uma imagem:</label>
            <input type="file" class="form-control-file" id="cover" name="file" required="required">
            <div style="padding-top: 5px"><input type="submit" class="btn btn-primary" style="border-radius: 30px" value="Alterar Capa"></div>
        </form>

        <br>
        <br>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="type" value="remove-cover">
            <input type="submit" value="Remover Capa" class="btn btn-outline-danger btn-sm">
        </form>

        <br>
        <br>

		<h4>Biografia:</h4>
		<form method="post">
			<input type="hidden" name="type" value="bio">
			{% csrf_token %}
			<textarea class="form-control" name="bio" maxlength="3000" width="70%">{{ user_p.bio }}</textarea>
			<div style="padding-top: 5px"><input class="btn btn-primary" type="submit" style="border-radius: 30px" value="Alterar Biografia"></div>
		</form>
 <br><br>
		<h4>Nome de Usuário:</h4>
		{{ invalid_username_text|safe }}
		<form accept-charset="utf-8" method="post" id="username_form">
			<input type="hidden" name="type" maxlength="14" value="username">
			{% csrf_token %}

			<div class="form-row">
				<div class="col-md-4 mb-3">
					<input name="password" placeholder="Digite sua Senha:" class="form-control{{ invalid_password }}" type="password">
					<div class="invalid-feedback" style="display: {{ password_display }}">
						Senha Incorreta.
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-4 mb-3">
					<input maxlength="30" name="username" placeholder="Novo Nome de Usuário:" class="form-control{{ invalid_username }}" value="{{ username }}" type="text">
					<div class="invalid-feedback" style="display: {{ username_display }}">
						Nome de usuário em uso ou inválido.
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-4 mb-3">
				<input value="Alterar Nome" placeholder="" class="btn btn-primary" style="border-radius: 30px" type="submit">
				</div>
			</div>
		</form>

    <br><br>
	
		<h4>Privacidade:</h4>
		<form method="post">
			<input type="hidden" name="type" value="privacy">
			{% csrf_token %}
			{% if user_p.hide_activity %}
				<input type="checkbox" name="hide-activity" id="hide-activity" checked> <label class="inline" for="hide-activity">Esconder atividade do perfil</label><br>
			{% else %}
				<input type="checkbox" name="hide-activity" id="hide-activity"> <label class="inline" for="hide-activity">Esconder atividade do perfil</label><br>
			{% endif %}
			{% if user_p.followable %}
				<input type="checkbox" name="followable" id="followable" checked> <label class="inline" for="followable">Permitir novos seguidores</label><br>
			{% else %}
				<input type="checkbox" name="followable" id="followable"> <label class="inline" for="followable">Permitir novos seguidores</label><br>
			{% endif %}
			<input class="btn btn-primary vertical-spaced" type="submit" style="border-radius: 30px" value="Alterar Privacidade">
		</form>

    <br><br>
		{% if user.username == user_p.user.username %}
		<hr>
		<p>Seu email: {{ user.email }}</p>
		{% endif %}
    
    <br>
	</main>
    <script src="/static/js/common.js?v=1.5"></script>

	</body>
</html>
