{% load main_app_extras %}
{% load humanize %}
<!doctype html>
<html lang="pt-br">
<head>
<title>
Asker • Conheça Pessoas, Faça Amigos, Crie e Responda Perguntas na Melhor e Mais Divertida 
Comunidade Online!
</title>
<meta charset="UTF-8">
<meta name="description" content="Conheça Pessoas, Faça Amigos, Crie e Responda Perguntas na Melhor e Mais Divertida 
Comunidade Online!">
<style id="wait">
	body {
		visibility: hidden;
		opacity: 0;
	}

</style>
<meta name="keywords" content="br.asker.fun, asker.fun, askerfun, comunidade, perguntas, respostas, asker">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<meta name="theme-color" content="#68228B" />
<meta name="apple-mobile-web-app-status-bar-style" content="#68228B" />
<meta name="msapplication-navbutton-color" content="#68228B" />
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% include "includes/themehandler.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<script>
    var csrf_token = "{{ csrf_token }}";
    {% if user.is_anonymous %}
        var user_status = "anonymous";
    {% else %}
        var user_status = "logged";
        
        {% if user_p.active %}
            var conta_ativa = true;
        {% else %}
            var conta_ativa = false;
        {% endif %}
    {% endif %}
</script>
<script>
    var popular_page = 1;
</script>
<style>body{display:none}.navegacao button{font-size:.8em}</style>
<style>
    .profile-picture-index img {
        max-width: 30px;
    }
</style>



<script>
popular_questions_=[
    {% for question in popular_questions %}
        {% if not question.creator.user in user_p.silenced_users.all %}
            {"question_creator_avatar": "{{ question.creator.avatar.url }}",
             "id":{{ question.id }},
            "text":"{{ question.text }}",
            "description":"{{ question.description|formatar_descricao|safe|linebreaksbr }}",
            "total_answers":{{ question.total_responses }},
            "total_views": {{ question.total_views }},
            "pub_date":"{% fix_naturaltime question.pub_date|naturaltime %}",
            "creator":"{{ question.creator.user.username }}",
            {% answer user_p question as ANSWER %}
            "user_answer":"{{ ANSWER|linebreaksbr }}",
        },
        {% endif %}
    {% endfor %}
];
</script>
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

</head>

{% if user.is_authenticated %}
	{% include "includes/menubar.html" %}
{% endif %}   

{% if user.is_authenticated %}
{% else %}
<br>
{% endif %}

<div style="display: none">
  {% include "includes/navbar.html" %}
</div>    

<body style="overflow-x: hidden">
<div class="separator-75"></div>
<center style="height: 10px;"> 
	<div class="containerem" style="z-index: 9999;">
	   {% if not user.is_authenticated %}
	   <div class="navegacao" style="position: fixed; padding: 10px; margin-top: 20px; padding-top: 10px; padding-bottom: 6px; background-image: linear-gradient(to right, #FF1493, #8A2BE2); height: 75px; top: -25px; border-radius: 0px 0px 20px 20px">
           
       <center> <img width="80px" src="https://i.imgur.com/2F4x4ch.png"></img> </center>
       
       {% else %}
	   <div class="navegacao" style="position: fixed; padding: 10px; height: 55px; margin-top: 26px; padding-top: 18px; background-image: linear-gradient(to right, #e8e8e8, rgb(180, 180, 180, 0.9)); top: 10px; border-radius: 0px 0px 20px 20px">
      {% endif %}
			
       		{% if not user.is_authenticated %}
			<a id="botao-popular" style="padding-right: 10px; text-decoration: none; outline: none; color: #CFCFCF; cursor: pointer; font-size: 14px">Populares</a>
			{% else %}
            <a id="botao-popular" style="padding-right: 10px; text-decoration: none; outline: none; cursor: pointer; font-size: 14px">Populares</a>
       		{% endif %}
       
       {% if not user.is_authenticated %}
       <a class="left-spaced"  id="botao-recentes" style="padding-right: 10px; text-decoration: none; color: #CFCFCF; outline: none; cursor: pointer; border none; font-size: 14px">Recentes</a>
	   {% else %}
       <a class="left-spaced"  id="botao-recentes" style="padding-right: 10px; text-decoration: none; outline: none; cursor: pointer; border none; font-size: 14px">Recentes</a>
	   {% endif %}
       
       {% if user.is_authenticated %}
			<a class="left-spaced" id="botao-seguindo" style="padding-right: 10px; text-decoration: none; outline: none; cursor: pointer; border none; font-size: 14px">Seguindo</a>
       
       {% else %}
       <a id="botao-popular" style="font-weight: 700; font-size: 15px; text-decoration: none; color: white; outline: none" href="/signin?redirect={{ request.get_full_path }}">Login &#10152;</a>
       
			<a class="hidden" id="botao-seguindo" style="padding-right: 8px; text-decoration: none; outline: none; cursor: pointer; border none; font-size: 14px">Seguindo</a>
			{% endif %}
      	    {% if user.is_authenticated %}
			<a href="/user/{{ user.username }}" class="left-spaced" id="botao-seguindo" style="text-decoration: none; outline: none; cursor: pointer;">
       <img src="{{user_p.avatar.url}}" style="border-radius: 300px; width: 25px; height: 25px;"></img>
            </a>  
            {% endif %}
		</div>


 
<div id="new-q-btn" style="position: fixed; top: 108px">
	<button class="btn bg-faint-gradient" onclick="update_recent()">
	<p style="margin-bottom: 0px; font-weight: 800"><span id="new-q-count">0</span> Novas Postagens</p>
	</button>
</div>
       
	</div>

<br>
</center>

{% if not user_p.active and not user.is_anonymous %}
	<style>
		@media (min-width:801px) {
			.user-nao-ativo {
				width: 50%;
			}
		}
	</style>

	<center>
		<div class="alert alert-info user-nao-ativo">
			<p> Confirme seu email abrindo o link enviado para ele.<br>Este é o email usado na tela de cadastro: {{ user.email }} </p>
			<p> Caso não encontre o email, verifique na pasta de spam. </p> 
			<b>Edite Seu Perfil <a style="text-decoration: none" href="/user/{{ user.username }}">Aqui</a></b>
		</div>
	</center>
{% endif %}

{% if user.is_authenticated %}
<main>
{% else %}
<main style="margin-top: -40px">
{% endif %}

<script>
	var mostrar_primeiro = "{{ initial }}";
</script>

<section class="card" id="novas_questoes" style="background: transparent; border: none"> 
    <center id="top-spinner" style="display: none"><i class="fas fa-spinner fa-3x fa-spin"></i></center>
	<ul class="list-group-flush" id="lista_de_questoes_recentes" style="border: none"></ul>
	<button id="load-more-recent-btn" class="btn btn-outline-primary" onclick="load_more_recent();" style="margin-left: 30px; border: none; font-size: 13px;"></button>
	<center style="display: none"><i class="fas fa-spinner fa-3x fa-spin"></i></center>
    <br><br>
</section>


<section id="questoes_populares" style="background: transparent; border: none">
	<ul class="list-group-flush" id="lista_de_questoes_populares" style="border: none"></ul>
	<button id="load-more-popular-btn" class="btn btn-outline-primary" onclick="popular_page++; load_more_popular(this, this.nextElementSibling, popular_page);" style="margin-left: 30px; border: none; font-size: 13px"><b>Ver Mais +</b></button>
	<center style="display: none"><i class="fas fa-spinner fa-3x fa-spin"></i></center>
    <br><br>
</section>


<section id="feed" style="background: transparent; border: none">
	<ul class="list-group-flush" id="feed_list" style="border: none"></ul>
	<button id="load-more-feed-btn" class="btn btn-outline-primary" onclick="load_more_feed(this, this.nextElementSibling);" style="margin-left: 30px; border:none; font-size: 13px"><b>Ver Mais +</b></button>
	<center style="display: none"><i class="fas fa-spinner fa-3x fa-spin"></i></center>
    <br><br>
</section>

</main>

<div id="popup-bg" style="display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 9" onclick="login_toggle();">
    <div style="position: sticky; background-color: rgba(0,0,0,50%); height: 100%;">
        
    </div>
</div>
<div id="new-user-pp-container" style="display: none; position: fixed; width: 100%; bottom: 2rem; z-index: 10;">
  <div id="new-user-popup" class="bg-faint-gradient" style="box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15); border-radius: 5px; padding: 1rem; margin: 0 auto; width: 95%;">
    <button style="float: right; border: none; background-color: transparent; color: white; font-size: 20px; margin-top: -3px;" onclick="login_toggle();">
        <ion-icon name="close-outline"></ion-icon>
    </button>
    
    <h5>Olá, Boas Vindas ao Asker!</h5>
    <p>Faça login ou cadastre-se para responder essa pergunta e muitas outras!</p>
    <div style="height: 40px;">
        <a href="/signup"><button class="btn bg-white" style="border-radius: 30px; float: right; margin-left: 10px; width: 125px;">Cadastrar-se</button></a>
        <a href="/signin"><button class="btn bg-white" style="border-radius: 30px; float: right; width: 125px;">Fazer login</button></a>
    </div>
  </div>
</div>

<script src="/static/js/common.js?v=1.5"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
<script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify-jquery.min.js"></script>
<script src="/static/js/index.js?v=8.3.3"></script>

<script>
{% if initial == 'feed' %}
    load_more_feed();
{% elif initial == 'recentes' %}
    load_more_recent();
{% endif %}

{% if not user.is_authenticated %}
    should_hide = true;
    hide_questions();
{% endif %}
</script>

</body>
</html>
