{% load main_app_extras %}
{% load humanize %}
<!doctype html>
<html lang="pt-br">
	<head>
		<title>{{target_user_p.user.username}} | Asker</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style id="wait">
			body {
				visibility: hidden;
				opacity: 0;
			}
		</style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
        <meta name="theme-color" content="#68228B" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#68228B" />
        <meta name="msapplication-navbutton-color" content="#68228B" />
        {% include "includes/themehandler.html" %}
		<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> 
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

	</head>
	<body>

    {% if user.is_authenticated %}
	    {% include "includes/menubar.html" %}
    {% endif %}
    
    
	<main style="border: none">
       <div class="card bg-main" style="border: none" id="uinfo">
    
	    {% if target_user_p.cover_photo %}
     
    <div style="width: 100%; height: 250px; border-radius: 0px 0px 15px 15px; background: url({{ target_user_p.cover_photo.url }}); background-repeat: no-repeat; background-position: center; background-size: cover; position: absolute; z-index: 99"> </div>
    
       {% endif %}
    
    <div style="height: 100px;"></div>
    
	    <div class="card-body" style="border: none;">  
    
		<center id="center1">
		  <div style="margin-top: 40px; border-radius: 300px; background: url({{target_user_p.avatar.url}}); width: 130px; height: 129px; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; z-index: 999">		      
		  </div>
		 
       
        <br>
        <h3 style="font-size: 30px; font-weight: 900">
            <b>{{ target_user_p.user.username }}</b>
        </h3>
        
        <p style="font-size: 13px; font-weight: 700">
        No Asker desde <span class="font-italic"><b>{{ target_user_p.user.date_joined.date }}.</b></span>
	    </p>
        </center>
        
<div style="padding-top: 3px; padding-bottom: 3px;">    
<center>        
        {% if target_user_p.user.username != user.username %}
            {% if not user.is_anonymous %}
		        {% afollowb user.username target_user_p.user.username as FOLLOWED %}
		        {% ablockb user.username target_user_p.user.username as BLOCKED %}
		        {% asilenceb user.username target_user_p.user.username as SILENCED %}
		        {% ablockb target_user_p.user.username user.username as TARGET_HAS_BLOCKED %}

                <center class="btn-group justified vertical-spaced" style="font-weight: 500; border-radius: 100px" role="group">
                    {% if target_user_p.followable %}
			        <button id="follow-button" class="btn btn-outline-primary" onclick="follow_user('{{ target_user_p.user.username }}')">
                            {% if FOLLOWED %}
                               <b> Seguindo </b>
                            {% else %}
                               <b> Seguir </b>
                            {% endif %}
			        </button>{% endif %}<button id="block-button" class="btn btn-outline-primary" onclick="block_user('{{ target_user_p.user.username }}')">
                            {% if BLOCKED %}
                               <b> Bloqueado </b>
                            {% else %}
                               <b> Bloquear </b>
                            {% endif %}
			        </button><button id="silence-button" class="btn btn-outline-primary" onclick="silence_user('{{ target_user_p.user.username }}')">
                            {% if SILENCED %}
                               <b> Silenciado </b>
                            {% else %}
                               <b> Silenciar </b>
                            {% endif %}
			        </button>{% if not TARGET_HAS_BLOCKED and target_user_p.allows_chat %}<button id="chat-button" class="btn btn-outline-primary" onclick="open_chat('{{ target_user_p.user.username }}')">
                            <b> <ion-icon name="mail-open-outline"></ion-icon> </b>
			        </button>{% endif %}
		        </center>
            {% endif %}
		{% endif %}
</center> 
</div>       
        
<center>

<table frameborder="0" style="margin-left: -10px; margin-top: 20px; border-radius: 100px; width: 80%; max-width: 400px;" class="bg-faint-gradient">
<tbody>
<tr>
<td style="width: 40px; opacity: 0">1</td>
<td style="width: 40px; opacity: 0">1</td>
<td style="padding: 13px"><font style="font-size: 15px; font-weight: 500">Perguntas</font></td>
<td style="padding: 13px"><font style="font-size: 15px; font-weight: 500">Respostas</font></td>
<td style="padding: 13px"><b style="font-size: 18px; font-weight: 900">Pontos</b></td>
<td style="width: 40px; opacity: 0">2</td>
<td style="width: 40px; opacity: 0">2</td>
</tr>
<tr>
<td style="width: 40px; opacity: 0">3</td>
<td style="width: 40px; opacity: 0">3</td>
<td style="padding: 10px 13px 10px 13px; font-weight: 500">{{target_user_p.total_questions}}</td>
<td style="padding: 10px 13px 10px 13px; font-weight: 500">{{target_user_p.total_responses}}</td>
<td style="padding: 10px 13px 10px 13px; font-weight: 900">{{target_user_p.total_points}}</td>
<td style="width: 40px; opacity: 0">4</td>
<td style="width: 40px; opacity: 0">4</td>
</tr>
</tbody>
</table> 

	    <p id="bio" style="line-height: 16px; font-size: 13px; padding-top: 30px">	   
			     {{ target_user_p.bio|linebreaksbr }}
	    </p>


    	{% if target_user_p.user.username == user.username %}
            <center>
		    <div id="edit-profile" class="vertical-spaced"><a href="/user/{{ user.username }}/edit" style="text-decoration: none; outline: none; font-size: 13px"><b>Configurações <ion-icon name="brush-outline"></ion-icon></b></a></div>
            </center>
		{% endif %}
        
        
</center>    
        
		{% if target_user_p.user.username == user.username or not target_user_p.hide_activity or 'pap' in permissoes_usuario_logado or user.is_superuser %}
		
<style>
.movend:active{
color: #43CD80;
font-weight: 800;
}
.movend:hover{
color: #43CD80;
font-weight: 800;
}
</style>
     
        <br>
		<ul class="nav nav-tabs" id="tabs">
			<li class="nav-item">
            <a class="nav-link bg-main-tab activity-tab movend active" style="border: none;" id="questions">
            <i class="fas fa-share" style="color: #BA55D3; font-size: 18px; padding-right: 10px"></i> Perguntas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab movend disabled" style="border: none" id="responses">Respostas</a>
			</li>
			{% if target_user_p.user.username == user.username %}
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab movend disabled" style="border: none" id="followed-q">Perguntas Seguidas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab movend disabled" style="border: none" id="followed-u">Seguindo</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab movend disabled" style="border: none" id="followers">Seguidores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab movend disabled" style="border: none" id="blocked">Bloqueados</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab movend disabled" style="border-left: 0px; border-top: 1px; border-right: 0px; border-bottom: 0px" id="silenced">Silenciados</a>
			</li>
			{% endif %}
		</ul>

		<section id="questions-section" style="border: none">
			<div class="questions-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="qs">
					{% for question in questions %}
					<li class="list-group-item bg-main">
						<div class="question card-body">
							<a href="/question/{{ question.id }}">{{ question.text }}</a><br>
							<span class="small-text">Perguntada em: {{ question.pub_date|naturalday }}</span>
							{% if question.best_answer == None and target_user_p.user.username == user.username %}
								<br><span class="small-text">Sem Melhor Resposta</span>
							{% endif %}
						</div>
					</li>
					{% endfor %}
				</ul>
				{% if target_user_p.total_questions > 0 %}
					<button class="btn btn-outline-primary" style="border: none" onclick="show_more_questions(this, {{ target_user_p.user.id }})"><b>Ver Mais+</b></button>
				{% else %}
					<p align="center" style="padding: 5px; font-size: 1.8vh">
					   <center>
					   {{ target_user_p.user.username }}
					    ainda não fez nenhuma pergunta.
					   </center> 
					</p>
				{% endif %}
			</div>
		</section>

		<section id="responses-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none; width: 90%">
				<ul class="list-group list-group-flush" id="rs">
					{% for response in responses %}
					<li class="list-group-item bg-main">
						<div class="response card-body">
							<a href="/question/{{ response.question.id }}">{{ response.question.text }}</a><br>
							<p>
								{% if response.question.best_answer == response.id %}
									<span class="badge badge-pill badge-primary">🏆 Melhor resposta</span>
								{% endif %}
								{{ response.text }}
							</p>
							<span class="small-text">Perguntada por <a href="/user/{{response.question.creator}}">{{response.question.creator}}</a> {{ response.question.pub_date|naturalday }}</span>
						</div>
					</li>
					{% endfor %}
				</ul>
				{% if target_user_p.total_responses != 0 %}
					<button class="btn btn-outline-primary" style="border: none" onclick="show_more_responses(this, {{ target_user_p.user.id }})"><b>Ver Mais+</b></button>
				{% else %}
					<p align="center" style="padding: 5px; font-size: 1.8vh"><center>
					    {{ target_user_p.user.username }} ainda não respondeu nenhuma pergunta.
					</center></p>
				{% endif %}
			</div>
		</section>

		{% if target_user_p.user.username == user.username %}

		<section id="followed-q-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="fqs">
					{% for question in followed_questions %}
					<li class="list-group-item bg-main">
						<div class="question card-body">
							<a href="/question/{{ question.id }}">{{ question.text }}</a><br>
							<span class="small-text">Perguntada em: {{ question.pub_date|naturalday }}</span>
						</div>
					</li>
					{% endfor %}
				</ul>
				{% if target_user_p.total_questions > 0 %}
					<button class="btn btn-outline-primary" onclick="show_more_f_questions(this, {{ target_user_p.user.id }})">mais</button>
				{% else %}
					<p align="center" style="padding: 5px; font-size: 1.8vh">
					   <center>
					   Você ainda não seguiu nenhuma pergunta.
					   </center> 
					</p>
				{% endif %}
			</div>
		</section>

		<section id="followed-u-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="fus">
					{% for followed_user in target_user_p.followed_users.all %}
					<li class="list-group-item bg-main listed-user">
						<a href="/user/{{ followed_user }}">{{ followed_user }}</a> <span onclick="unfollow_listed_user(this.parentNode, '{{ followed_user }}');">❌</span>
					</li>
					{% endfor %}
				</ul>
                {% if target_user_p.total_followed_users == 0 %}
				    <p align="center" style="padding: 5px; font-size: 1.8vh"><center>
				        {{ target_user_p.user.username }} ainda não respondeu nenhuma pergunta.
				    </center></p>
                {% endif %}
			</div>
		</section>

		<section id="followers-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="fs">
					{% for follower in followers.all %}
					<li class="list-group-item bg-main listed-user">
						<a href="/user/{{ follower }}">{{ follower }}</a> <span onclick="make_unfollow_listed_user(this.parentNode, '{{ follower }}');">❌</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<section id="blocked-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="bs">
					{% for blocked_user in target_user_p.blocked_users.all %}
					<li class="list-group-item bg-main listed-user">
						<a href="/user/{{ blocked_user }}">{{ blocked_user }}</a> <span onclick="unblock_listed_user(this.parentNode, '{{ blocked_user }}');">❌</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<section id="silenced-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="ss">
					{% for silenced_user in target_user_p.silenced_users.all %}
					<li class="list-group-item bg-main listed-user">
						<a href="/user/{{ silenced_user }}">{{ silenced_user }}</a> <span onclick="unsilence_listed_user(this.parentNode, '{{ silenced_user }}');">❌</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		{% endif %}

		{% endif %}<br>
		</main>
        <script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify-jquery.min.js"></script>
        <script src="/static/js/profile.js?v=9.2"></script>
	    <script src="/static/js/common.js?v=1.5"></script>
	</body>
</html>
