{% load main_app_extras %}
{% load humanize %}
<!doctype html>
<html lang="pt-br">
	<head>
		<title>{{user_p.user.username}} | Asker</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style id="wait">
			body {
				visibility: hidden;
				opacity: 0;
			}
		</style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
        <meta name="theme-color" content="#68228B" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#68228B" />
        <meta name="msapplication-navbutton-color" content="#68228B" />
        {% include "includes/themehandler.html" %}
		<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> 
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

	</head>
	<body>

    {% if user.is_authenticated %}
	    {% include "includes/menubar.html" %}
    {% endif %}

	{% include "includes/navbar.html" %}
	<br>
	
	<main style="border: none"><div class="card bg-main" style="border: none" id="uinfo">
	    <div class="card-body" style="border: none">
		<center id="center1">
		  <div style="border-radius: 300px; background: url({{user_p.avatar.url}}); width: 220px; height: 220px; background-position: center center; background-repeat: no-repeat">		      
		  </div>
		    
       <br>
        <h3 style="margin-top: -5px; font-size: 2.5vh">
            <b>{{ user_p.user.username }}</b>
        </h3>
			<p id="bio" style="line-height: 16px; font-size: 16px">
			   
			     {{ user_p.bio|linebreaksbr }}

			</p>
			
			<p style="font-size: 13px; font-weight: 700">
			 No Asker desde <span class="font-italic">{{ user_p.user.date_joined.date }}.</span>
			</p>
			
		</center>
		<div class="card-group">
			<div class="card bg-inner-when-dark" style="border: none; background: linear-gradient(#FF00FF, #4876FF)">
				<div class="card-body">
                <h5><font color="white"><b>Perguntas</b></font></h5>
                <p><font color="white" style="font-weight: 800">{{user_p.total_questions}}</font></p>
				</div>
			</div>
			<div class="card bg-inner-when-dark" style="border: none; background: linear-gradient(#FF00FF, #4876FF)">
				<div class="card-body">
                <h5><font color="white"><b>Respostas</b></font></h5>
                <p><font color="white" style="font-weight: 800">{{user_p.total_responses}}</font></p>
				</div>
			</div>
			<div class="card bg-inner-when-dark" style="border: none; background: linear-gradient(#FF00FF, #4876FF)">
				<div class="card-body">
                <h5><font color="white"><b>Pontos</b></font></h5>
                <p><font color="white" style="font-weight: 800">{{user_p.total_points}}</font></p>
				</div>
			</div>
		</div>

		{% if user_p.user.username != user.username %}

            {% if not user.is_anonymous %}
		        {% afollowb user.username user_p.user.username as FOLLOWED %}
		        {% ablockb user.username user_p.user.username as BLOCKED %}
		        {% asilenceb user.username user_p.user.username as SILENCED %}

                <center class="btn-group justified vertical-spaced" role="group">
                    {% if user_p.followable %}
			        <button id="follow-button" class="btn btn-outline-primary" onclick="follow_user('{{ user_p.user.username }}')">
                            {% if FOLLOWED %}
                                Seguindo
                            {% else %}
                                Seguir
                            {% endif %}
			        </button>{% endif %}<button id="block-button" class="btn btn-outline-primary" onclick="block_user('{{ user_p.user.username }}')">
                            {% if BLOCKED %}
                                Bloqueado
                            {% else %}
                                Bloquear
                            {% endif %}
			        </button><button id="silence-button" class="btn btn-outline-primary" onclick="silence_user('{{ user_p.user.username }}')">
                            {% if SILENCED %}
                                Silenciado
                            {% else %}
                                Silenciar
                            {% endif %}
			        </button>
		        </center>
            {% endif %}
		{% endif %}

        <br>

		{% if user_p.user.username == user.username %}
            <center>
		    <div id="edit-profile" class="vertical-spaced"><a href="/user/{{ user.username }}/edit" style="text-decoration: none; outline: none"><b>Editar Perfil</b></a></div>
            <br></center>
		{% endif %}
		{% if user_p.user.username == user.username or not user_p.hide_activity or 'pap' in permissoes_usuario_logado or user.is_superuser %}
		
		<ul class="nav nav-tabs" id="tabs">
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab active"  id="questions">Perguntas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab disabled" id="responses">Respostas</a>
			</li>
			{% if user_p.user.username == user.username %}
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab disabled" id="followed-q">Perguntas Seguidas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab disabled" id="followed-u">Seguindo</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab disabled" id="followers">Seguidores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab disabled" id="blocked">Bloqueados</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-main-tab activity-tab disabled" id="silenced">Silenciados</a>
			</li>
			{% endif %}
		</ul>

		<section id="questions-section" style="border: none">
			<div class="questions-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="qs">
					{% for question in questions %}
					<li class="list-group-item bg-main">
						<div class="question card-body">
							<a href="/question/{{ question.id }}">{{ question.text }}</a><br>
							<span class="small-text">Perguntada em: {{ question.pub_date|naturalday }}</span>
							{% if question.best_answer == None and user_p.user.username == user.username %}
								<br><span class="small-text">Sem melhor resposta</span>
							{% endif %}
						</div>
					</li>
					{% endfor %}
				</ul>
				{% if user_p.total_questions > 0 %}
					<button class="btn btn-outline-primary" onclick="show_more_questions(this, {{ user_p.user.id }})">mais</button>
				{% else %}
					<p align="center" style="padding: 5px; font-size: 1.8vh">
					   <center>
					   {{ user_p.user.username }}
					    ainda não fez nenhuma pergunta.
					   </center> 
					</p>
				{% endif %}
			</div>
		</section>

		<section id="responses-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="rs">
					{% for response in responses %}
					<li class="list-group-item bg-main">
						<div class="response card-body">
							<a href="/question/{{ response.question.id }}">{{ response.question.text }}</a><br>
							<p>
								{% if response.question.best_answer == response.id %}
									<span class="badge badge-pill badge-primary">🏆 Melhor resposta</span>
								{% endif %}
								{{ response.text }}
							</p>
							<span class="small-text">Perguntada por <a href="/user/{{response.question.creator}}">{{response.question.creator}}</a> {{ response.question.pub_date|naturalday }}</span>
						</div>
					</li>
					{% endfor %}
				</ul>
				{% if user_p.total_responses != 0 %}
					<button class="btn btn-outline-primary" onclick="show_more_responses(this, {{ user_p.user.id }})">mais</button>
				{% else %}
					<p align="center" style="padding: 5px; font-size: 1.8vh"><center>
					    {{ user_p.user.username }} ainda não respondeu nenhuma pergunta.
					</center></p>
				{% endif %}
			</div>
		</section>

		{% if user_p.user.username == user.username %}

		<section id="followed-q-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="fqs">
					{% for question in followed_questions %}
					<li class="list-group-item bg-main">
						<div class="question card-body">
							<a href="/question/{{ question.id }}">{{ question.text }}</a><br>
							<span class="small-text">Perguntada em: {{ question.pub_date|naturalday }}</span>
						</div>
					</li>
					{% endfor %}
				</ul>
				{% if user_p.total_questions > 0 %}
					<button class="btn btn-outline-primary" onclick="show_more_f_questions(this, {{ user_p.user.id }})">mais</button>
				{% else %}
					<p align="center" style="padding: 5px; font-size: 1.8vh">
					   <center>
					   Você ainda não seguiu nenhuma pergunta.
					   </center> 
					</p>
				{% endif %}
			</div>
		</section>

		<section id="followed-u-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="fus">
					{% for followed_user in user_p.followed_users.all %}
					<li class="list-group-item bg-main listed-user">
						<a href="/user/{{ followed_user }}">{{ followed_user }}</a> <span onclick="unfollow_listed_user(this.parentNode, '{{ followed_user }}');">❌</span>
					</li>
					{% endfor %}
				</ul>
                {% if user_p.total_followed_users == 0 %}
				    <p align="center" style="padding: 5px; font-size: 1.8vh"><center>
				        {{ user_p.user.username }} ainda não respondeu nenhuma pergunta.
				    </center></p>
                {% endif %}
			</div>
		</section>

		<section id="followers-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="fs">
					{% for follower in followers.all %}
					<li class="list-group-item bg-main listed-user">
						<a href="/user/{{ follower }}">{{ follower }}</a> <span onclick="make_unfollow_listed_user(this.parentNode, '{{ follower }}');">❌</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<section id="blocked-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="bs">
					{% for blocked_user in user_p.blocked_users.all %}
					<li class="list-group-item bg-main listed-user">
						<a href="/user/{{ blocked_user }}">{{ blocked_user }}</a> <span onclick="unblock_listed_user(this.parentNode, '{{ blocked_user }}');">❌</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<section id="silenced-section" class="hidden-section" style="border: none">
			<div class="responses-card card bg-main" style="border: none">
				<ul class="list-group list-group-flush" id="ss">
					{% for silenced_user in user_p.silenced_users.all %}
					<li class="list-group-item bg-main listed-user">
						<a href="/user/{{ silenced_user }}">{{ silenced_user }}</a> <span onclick="unsilence_listed_user(this.parentNode, '{{ silenced_user }}');">❌</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		{% endif %}

		{% endif %}<br>
		</main>
        <script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.9/dist/linkify-jquery.min.js"></script>
        <script src="/static/js/profile.js?v=9.1"></script>
	    <script src="/static/js/common.js?v=1.2"></script>
	</body>
</html>
