<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Promoção do Asker</title>
    <style id="wait">
        body {
            visibility: hidden;
            opacity: 0;
        }
    </style>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    {% include "includes/themehandler.html" %}
    <script src="/static/js/cookieman.js?v=1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>

  <body>
    {% if user.is_authenticated %}
	    {% include "includes/menubar.html" %}
    {% endif %}
	{% include "includes/navbar.html" %}
    <main>

        <div class="card bg-main" style="background: transparent; border: none">
            <div class="card-body" style="background: transparent; border: none">
             <center> <h5><b>Promoção de Pontos</b></h5></center><br>

            <br>
        <b>Responder:</b> +30 Pontos <br>
        <b>Ganhar Melhor Resposta:</b> +100 Pontos

        <br>
        <br>
        Até as 23:00h BR 26/01/22

            <br>
            Proibido se autopontuar.
         </div>

        </div>
    </main>
    <script src="/static/js/common.js?v=1.5"></script>

  </body>
</html>
