{% load main_app_extras %}
{% load humanize %}
<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style id="wait">
			body {
				visibility: hidden;
				opacity: 0;
			}
		</style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
	    <meta name="theme-color" content="#68228B" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#68228B" />
	    <meta name="msapplication-navbutton-color" content="#68228B" />
		{% include "includes/themehandler.html" %}
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
		<title>{{ question.text }} | Asker</title>
		<script>
			csrf_token = "{{ csrf_token }}";
		</script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> 
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	</head>

<script>
function voltar() {
window.history.back();
}
</script>


	<body>
    {% if user.is_authenticated %}
	{% load main_app_extras %}
<div id="barcontainer" style="transition: 0.3s; margin-top: -80px; position: fixed; z-index: 9999999; width: 100%">
    <div id="searchcontainer" class="bg-outer">
        <div id="searchcontainer">
            <form action="/search" class="card-body" style="display: flex">
                <input id="searchbar" class="form-control" type="text" name="q" style="flex-grow: 1; border-radius: 20px; font-weight: 500" placeholder="Busca:" autocomplete="off" maxlength="180">
                <button class="btn btn-primary" style="height: 36px; width: 36px; padding: 6px; border-radius: 50px; margin-top: 1px; margin-left: 3px;" onclick='newSearch()'>
                    <ion-icon name="search"></ion-icon>
                </button>
            </form>
        </div>
    </div>
<center>
    <div id="menubar" class="containerem" style="height: 65px; padding: 0px; align-items: baseline; overflow-y: hidden;">
        <div class="menu bg-main" style="height: fit-content; width: 100%; padding-bottom: 3px; border-radius: 0px 0px 25px 25px; max-width: 400px; align-items: center; justify-content: center;">
       
        <ul class="menu-list" style="margin-top: 5px; align-items: center">
    
        <li class="menu-item">
     <a> <button class="menu-button" onclick="voltar()">
      <font style="font-size: 19px; font=weight: 900">
  <ion-icon name="arrow-undo-outline"></ion-icon>
      </font>
      </button>
     </a>
      </li>
        
       <a href="/ask"> <li class="menu-item"><button class="menu-button"><font style="font-size: 19px; font-weight: 900"><ion-icon name="pencil"></ion-icon></font></button></li></a>
      
        
            <li class="menu-item" id="searchbtn"><button class="menu-button"><font style="font-size: 19px; font=weight: 900"><ion-icon name="search-outline"></ion-icon></font></button></li>
          <a href="/"><li class="menu-item">
          <button class="menu-button" style="padding-bottom: 8px">
             <img width="88px" src="/static/images/asker.png">
          </button></li>
          </a>
            <a href="/notifications">
                <li class="menu-item">
                    <button class="menu-button"><font style="font-size: 19px; font-weight: 900">
                        <ion-icon name="notifications-outline"></ion-icon>
                        {% if user_p.new_notifications > 0 %}
                            <div id="notif-badge">{{ user_p.new_notifications }}</div>
                        {% else %}
                            <div id="notif-badge" style="display: none;">{{ user_p.new_notifications }}</div>
                        {% endif %}
                    </font></button>
                </li>
            </a>
            <a href="/chats">
               <li class="menu-item">
                   <button class="menu-button"><font style="font-size: 19px; font-weight: 900">
					{% check_new_messages user_p as new_m %}
					{% if new_m %}
					<ion-icon name="chatbubble-ellipses-outline"></ion-icon>
					{% else %}
					<ion-icon name="chatbubble-outline"></ion-icon>
				    {% endif %}
                   </font></button>
               </li>
           </a>
         
      {% if user.is_authenticated %}
			<a href="/user/{{ user.username }}" class="menu-button" id="botao-seguind" style="text-decoration: none; outline: none; cursor: pointer;">
       <img src="{{user_p.avatar.url}}" style="border-radius: 300px; width: 25px; height: 25px;"></img>
            </a>  
      {% endif %}
      
        </ul>
        </div>
    </div>
</center>
</div>
<script>
    var menu_status = 0;
    document.getElementById('searchbtn').addEventListener('click', function(e) {
        if (menu_status == 0) {
            document.getElementById('barcontainer').style.marginTop = '0px';
            menu_status = 1;
        } else {
            document.getElementById('barcontainer').style.marginTop = '-78px';
            menu_status = 0;
        }
    });
</script>

    {% endif %}
	<div style="display: none">
    {% include "includes/navbar.html" %}
    </div>
    <div class="separator-75"></div>
    
	{% if not user.is_authenticated %}
    <center style="height: 10px;">
		<div class="containerem" style="z-index: 9999;">
			<div class="navegacao nauth">
				<center> <img width="80px" src="/static/images/logo.png"> </center>
				<a class="clickable" id="botao-popular" href="/auth?t=signin&redirect={{ request.get_full_path }}">Entrar &#10152;</a>
			</div>
		</div>
    </center>
	{% endif %}
	<center>
	<div id="new-r-btn" style="position: fixed; top: 70px; z-index: 999; display: none; left: 50%; transform: translate(-50%, 0);">
		<button class="btn btn-primary round" onclick="load_responses()">
			<p style="margin-bottom: 0px; font-weight: 800"><span id="new-r-count">0</span> Novas Respostas</p>
		</button>
	</div>
		</center>
    
		<main>
			<div class="card bg-main">
				<div class="card-body">
					<div class="poster-container">
						<a class="poster-info" href="/user/{{ question.creator.user.username }}">
							<div class="poster-profile-pic-container">
								<div style='width: 61px; height: 60px; border-radius: 100px; background: url("{{ question.creator.avatar.url }}"); background-size: cover; background-repeat: no-repeat; background-position: center' class="poster-profile-pic-popover"></div>
							</div>
							<div class="poster-text-container" style="padding-left: 10px;">
								<div>
									<span>{{ question.creator.user.username }}</span>
									<span data-value={{question.creator.total_points}} class="left-spaced ubadge"> </span>
									<br>
									<span title="{{ question.pub_date }}" class="post-pub-date">{% fix_naturaltime question.pub_date|naturaltime %}</span>
								</div>
							</div>
						</a>
					</div>
               
					<h1 style="font-size: 1.3em; font-weight: 700;">{{ question.text }}</h1>
					
					{% if question.description %}
						<div>
							<hr>
							<p class="description" style="font-size: 15px">{{ question.description|linebreaksbr }}</p>
						</div>
					{% endif %}

					{% if question.image %}
						<div>
                            <br>
							<img style="display: block; border-radius: 10px; margin-left: auto; margin-right: auto;" width="75%" src="{{ question.image.url }}">
							<br>
						</div>
					{% endif %}

					{% if question.get_embedded_content %}
						<div class="emb">
							{{ question.get_embedded_content|safe }}
						</div>
						<br>
					{% endif %}

					{% starred user question as STARRED %}
					{% if question.has_poll %}
						{% voted user poll as VOTED %}
						{% if not VOTED and poll.may_vote and user.is_authenticated %}
							<div class="card poll poll-chooser vertical-spaced">
								<div class="card-body bg-outer-when-dark">
									<ul class="list-group list-group-flush">
									{% for choice in poll_choices %}
										<li class="choice list-group-item no-bg">
											<div class="chooser">
												<label>
													{% if poll.multichoice %}
														<input class="poll-option" type="checkbox" name="poll-option" value="{{ choice.id }}">
													{% else %}
														<input class="poll-option" type="radio" name="poll-option" value="{{ choice.id }}">
													{% endif %}
													<span class="left-spaced">{{ choice.text }}</span>
												</label>
											</div>
										</li>
									{% endfor %}
									</ul>
									<div>
										<button class="btn btn-primary round" onclick="voteOnPoll();">Votar</button>
										<a href="javascript:void(0);" class="clickable left-spaced" onclick="openShower();">Ver Resultado</a>
									</div>
								</div>
							</div>
						{% endif %}

						<div class="card poll-shower vertical-spaced">
							<div class="card-body bg-outer-when-dark">
								<input type="hidden" name="qpoll" value="{{ poll.id }}">
								{% for choice in poll_choices %}
									<div class="choice-show">
										{% if user|has_chosen:choice %}
										<span class="float-right">
											<span class="vote-count">{{ choice.votes }}</span> votos
											<i class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
										{% else %}
										<span class="float-right"><span class="vote-count">{{ choice.votes }}</span> votos</span>
										{% endif %}
										<span>{{ choice.text }}</span>
										<div class="progress round active">
											<div class="progress-bar" style="width: 0%;"></div>
										</div>
									</div>
								{% endfor %}
								<div>
									<div class="separator-15"></div>
								{% if poll.may_vote %}
									{% if not VOTED and user.is_authenticated %}
										<span class="clickable left-spaced" onclick="openChooser();">Votar</span>
									{% elif user.is_authenticated %}
										<span class="clickable left-spaced" onclick="undoVote();">Retirar Voto</span>
									{% else %}
										<span>Faça login ou crie uma conta para responder à enquete.</span>
									{% endif %}
								{% else %}
									<span>Votação Encerrada.</span>
								{% endif %}
								</div>
							</div>
						</div>
					{% endif %}

					{% if question.videofile %}
						<video style="border-radius: 10px;" src="{{ question.videofile.url }}" width="300" height="150" poster="teste.jpg" controls> </video>
					{% endif %}

					{% if question.creator.user.username == user.username %}
						<form class="vertical-spaced" method="post" action="/delete_question" onsubmit="if(confirm('Opa! Tem certeza que deseja apagar sua resposta?')) return true; else return false;">
							{% csrf_token %}
							<input type="hidden" name="question_id" value="{{ question.id }}">
				            <button class="btn btn-outline-danger round" style="font-size: 11px; font-weight: 600;">Apagar Postagem</button><br><br>
						</form>
					{% endif %}

                    {% if user.is_authenticated and question.creator.user.username != user.username %}
                    <div class="vertical-spaced qctrl">
                    <br>
                        {% if STARRED %}
                            <a id="stqa" class="clickable badge badge-pill" style="font-weight: normal; background: rgba(200,200,200,0.1); text-decoration: none; height: 32px; vertical-align: bottom" href="javascript:void(0);" onclick="star_question(this, {{ question.id }});">
								<ion-icon class="onstar text-primary" style="font-size: 21px" name="thumbs-up"></ion-icon>
								<ion-icon class="offstar hidden" style="font-size: 21px" name="thumbs-up-outline"></ion-icon>
								<span class="starcount">{{ question.total_stars }}</span>
							</a> 
                        {% else %}
                            <a id="stqa" class="clickable badge badge-pill" style="font-weight: normal; background: rgba(200,200,200,0.1); text-decoration: none; height: 32px; vertical-align: bottom" href="javascript:void(0);" onclick="star_question(this, {{ question.id }});">
								<ion-icon class="onstar text-primary hidden" style="font-size: 21px" name="thumbs-up"></ion-icon>
								<ion-icon class="offstar" style="font-size: 21px" name="thumbs-up-outline"></ion-icon>
								<span class="starcount">{{ question.total_stars }}</span>
							</a> 
                        {% endif %}
			
			<div class="badge badge-pill" style="background: rgba(200,200,200,0.1); height: 32px;">			
				{% if question in user_p.followed_questions.all %}
					<a id="unfqa" class="clickable" href="javascript:void(0);" onclick="unfollow_question({{ question.id }});"><ion-icon class="text-success" style="font-size: 24px" title="Deixar de seguir pergunta" name="checkmark-circle-outline"></ion-icon></a> 
					<a id="fqa" class="clickable hidden" href="javascript:void(0);" onclick="follow_question({{ question.id }});"><ion-icon style="font-size: 24px" title="Seguir pergunta" name="add-circle-outline"></ion-icon></a> 
				{% else %}
					<a id="unfqa" class="clickable hidden" href="javascript:void(0);" onclick="unfollow_question({{ question.id }});"><ion-icon class="text-success" style="font-size: 24px" title="Deixar de seguir pergunta" name="checkmark-circle-outline"></ion-icon></a> 
					<a id="fqa" class="clickable" href="javascript:void(0);" onclick="follow_question({{ question.id }});"><ion-icon style="font-size: 24px" title="Seguir pergunta" name="add-circle-outline"></ion-icon></a> 
				{% endif %}
				
				<a class="clickable" href="javascript:void(0);" onclick="report_question({{ question.id }});"><ion-icon style="font-size: 24px" title="Denunciar pergunta" name="flag-outline"></ion-icon></a>             
			</div>
                    </div>
                    {% endif %}
                    {% if 'pap' in user_permissions %}
                        <form method="post" action="/delete_question" onsubmit="if(confirm('Apagar pergunta?')) return true; else return false;">
                            {% csrf_token %}
                            <br><input type="hidden" name="question_id" value="{{ question.id }}">
                            <button class="btn btn-outline-info btn-sm" style="font-weight: 900; border-radius: 30px">Deletar</button>
                        </form>
                    {% endif %}
				</div>
			</div>

            {% if user.is_anonymous %}
                <div class="text-center bg-main" style="font-size: 13px; margin: 15px">
                    Faça <a href="/auth?t=signin&redirect=/question/{{ question.id }}">login</a> ou <a
href="/auth?t=signup&redirect=/question/{{ question.id }}">crie uma conta</a> para responder essa pergunta.
                </div>
            {% endif %}

<br>
          
        {% if user.is_authenticated %}
				{% if user_p.active %}
					{% answered user.username question.id as ANSWERED %}
					{% if not ANSWERED %}
						{% ablockb question.creator.user.username user.username as BLOCKED %}
						{% if not BLOCKED %}
		
		<form  id="formulario_de_resposta" class="card">
			<div class="card-body">
				{% csrf_token %}
				<input type="hidden" name="question_id" value="{{ question.id }}">

				<textarea id="sua-resposta" maxlength="5000" class="form-control large-compact" style="font-size: 13px; font-weight: 600; border: none; border-radius: 10px; margin-bottom: 15px;" placeholder="Digite Sua Resposta Aqui..." name="text" required="required"></textarea>
				<div id="r-ctrls">
					<button class="btn btn-primary" type="submit" style="font-size: 14px; width: 110px; font-weight: 700; border-radius: 30px" id="botao_enviar_resposta">
					<i class="far fa-paper-plane"></i>
					Enviar
					</button>

					<label for="upload-photo">
						&nbsp;<i class="fas fa-camera fa-lg"></i>
						<span id="upload-photo-text"></span>
					</label>

					<input type="file" accept="image/*" name="file" id="upload-photo" onclick="return veracity_test({{ user_p.total_points }}, {% MINIMUM_POINTS_FOR_POSTING_IMAGES %});">
					<img src="/static/images/close-icon.png" width="20px" style="display: none; cursor: pointer;" id="delete-photo-icon">
				</div>
			</div>
		</form>
		<img src="/static/images/loading.gif" width="30px" style="display: none;" id="response-loading-gif">
			
						{% else %}
							Pergunta indisponível.
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
<br>
<div class="card-header" style="background: transparent; border: none;">				
    	  <span id="total-de-respostas" style="color: #DA70D6; font-weight: 900; font-size: 25px;"></span>
          <span id="total-de-respostas-sentence" style="color: #00CED1; font-weight: 600; font-size: 17px;">
          </span> 💬
</div>
  				
			<section class="card bg-main" id="responses" style="border: none;">
  								
				<ul class="list-group list-group-flush responses" style="border: none;">
				{% include "base/response-content.html" %}
				</ul>
			</section>
			
            {% if user.is_anonymous %}
                <div class="text-center bg-main" style="font-size: 13px; margin: 15px">
                    Faça <a href="/auth?t=signin&redirect=/question/{{ question.id }}">login</a> ou <a href="/auth?t=signup&redirect=/question/{{ question.id }}">crie uma conta</a> para responder essa pergunta.
                </div>
            {% endif %}
	</main>
	<br>
	    <script src="/static/js/common.js?v=1.8"></script>
		<script src="/static/js/question.js?v=3.3"></script>
        <script>
            var qid = {{ question.id }};
		    var UPD_INTERVAL = setInterval(new_activity_check, 61000);
		    $(function () {
			    $('[data-toggle="popover"]').popover();
		    });
		</script>
	</body>
</html>
