<!doctype html>
<html lang="pt-br">
	<head>
		<title>Asker | Rank</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
        <meta name="theme-color" content="#68228B" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#68228B" />
        <meta name="msapplication-navbutton-color" content="#68228B" />

        {% include "includes/themehandler.html" %}

		<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> 
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    
		<style>
			.rank {
				width: 50%;
				margin: 5px auto;
			}

			@media (min-width: 320px) and (max-width: 480px) {
				.navbar-brand {
					margin-right: 0px;
				}
				.rank {
					width: 95%;
				}
			}
		</style>
	</head>



	<body>
    
		
    {% if user.is_authenticated %}
	    {% include "includes/menubar.html" %}
    {% endif %}
   	
    <br>
    <main style="border: none">
			<div class="card bg-main" style="border: none">
				<div class="card-body" style="border: none">
				<center>
                <BR>
					<h4 style="font-weight: 900"><b>Tabela de Classificação</b></h4>					
                <br>
                
       <div style="width: 80%; max-width: 300px">
             <font size="2">   
             Fazer uma Pergunta: <b>+1 Ponto</b>. <br>
             Responder uma Pergunta: <b>+2 Pontos.</b><br>
             Ganhar Melhor Resposta: <b>+10 Pontos</b> 🏆
             </font>
       </div>
                
               <br>     
				       <a href="https://asker.fun/user/Asker" style="font-weight: 600; outline: none; text-decoration: none"> 
                       <font><b>Conta Asker Oficial: </b> @Asker</font> 
				       </a>
		     </center>
                
		                <br>
					<div class="card" style="background: transparent; border: none">
						<div class="list-group list-group-flush" style="background: transparent; border: none">
							{% for user in rank %}
							<li class="list-group-item" style="background: transparent; border: none; padding-bottom: 40px">
								<div>
									<b class="right-spaced">{{ user.pos }}°</b> <a href="/user/{{ user.user }}" style="font-weight: 800">{{ user.user }}</a>
								</div>
								<div class="ranked-u-stats">
									<div>
										<div class="small-text">
											Pontuação
										</div>
										<div>
                                        <b style="font-weight: 800">{{ user.user.total_points }} </b>
										</div>
									</div>
									<div>
										<div class="small-text">
											Perguntas
										</div>
										<div>
                                        {{ user.user.total_questions }}
										</div>
									</div>
									<div>
										<div class="small-text">
											Respostas
										</div>
										<div>
                                       {{ user.user.total_responses }}
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</div>
					</div>
				        
				</div>
			</div>
		</main>
	    <script src="/static/js/common.js?v=1.5"></script>

	</body>
</html>
