<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Programa de recompensas do Asker - Ganhe dinheiro!</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    
    <style>
      header {
        margin: 15px;
      }
      
      main {
        max-width: 95%;
        margin: auto;
      }
      
      #ad1 {
        max-width: 70%;
      }
      
      p {
        text-indent: 5px;
      }
      
      .title {
        font-size: 1.1em;
        color: black;
      }
      
      #ref_link1 {
        max-width: 55%;
        color: grey;
        display: inline;
        margin-right: 1px;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/"><img src="/static/images/asker.png"></a>
      {% if user.is_authenticated %}
        <div style="float: right"><a class="text-decoration-none" href="/user/{{ user.username }}">Seu perfil</a></div>
      {% endif %}
    </header>
    {% if user.is_authenticated %}
      <main>
        <style>
          .balance {
            color: grey;
          }
        </style>
        <div class="bg-light" style="border-radius: 2px;">
          <span><i class="fas fa-donate fa-sm"></i>&nbsp;Saldo: <span id="balance" class="balance">{{ user_balance }}</span></span>
          &nbsp;(coins)
          <br>
          <span><i class="fas fa-users fa-sm"></i>&nbsp;Ganhos por referência: <span id="balance" class="balance">{{ user_balance_ref }}</span></span>
          &nbsp;(coins)
          <br>
          <span><i class="fas fa-link fa-sm"></i>&nbsp;Seu link de referência:</span>
          <form class="form-inline" onsubmit="return false;">
            <input class="form-control form-control-sm" id="ref_link1" type="text" value="https://br.asker.fun/?r={{ user.id }}" onkeypress="return false;">
            <button class="btn btn-outline-primary btn-sm" onclick="copyLink()">Copiar</button>
          </form>
        </div>
        <hr>
        
        
        
        
        
        
        {% if not CAN_SHOW_AD %}
<h1 id="time" style="text-align: center"></h1>
<script>
  var tempo = new Date({{ sec }} * 1000).toISOString().substr(11, 8);
  // 00:00:00
  var min = Number(tempo.slice(3, 5)) - 60;
  var sec = Number(tempo.slice(6)) - 60;
  if (sec < 0) {
    sec *= -1;
  }
  if (min < 0) {
    min *= -1;
  }
  
  if(min == 60) {
    min = 59;
  }
  
  var handler = function() {
    sec -= 1;
    
    if (sec == -1) {
      sec = 59;
      min--;
    }
    
    document.getElementById("time").textContent = (min < 10 ? "0" + min : min) + ":" + (sec < 10 ? "0" + sec : sec);
    
    if (sec == 0 && min == 0) {
      window.location.reload();
    }
  };
  setInterval(handler, 1000);
  handler();
</script>
<center><p>Espere o tempo acima para resgatar mais coins.</p><p>Enquanto isso, responda e/ou faça <a href="/">perguntas</a> :)</p></center>
      <hr>
        {% else %}
        
        
        
        
        
        
        
        
        
        <div>
          <p>Clique no anúncio abaixo e receba {{ valor_da_recompensa }} coins de recompensa.</p>
        </div>
        
        <center id="ad">
          <div id="ad1">
            {% if ADS_TERRA_NATIVE_BANNER %}
              <script async="async" data-cfasync="false" src="//pl16405437.highperformancecpm.com/a5a82325576f4300f3eeba835c04e59a/invoke.js"></script>
              <div id="container-a5a82325576f4300f3eeba835c04e59a"></div>
            {% else %}
              {% if ADS_TERRA_DIRECT_LINK %}
                <style>
                  #clique-aqui {
                    max-width: 100%;
                  }
                </style>
                <a target="_blank" href="https://www.highperformancecpm.com/mtundgza8?key=648befdd6d37b957c49ae256dbf05df2">
                  <img src="/media/ads/clique-aqui.jpg" id="clique-aqui">
                </a>
              {% else %}
                <style>
                  #clique-aqui {
                    max-width: 100%;
                  }
                </style>
                <a target="_blank" href="//usounoul.com/4/4435059">
                  <img src="/media/ads/clique-aqui.jpg" id="clique-aqui">
                </a>
              {% endif %}
            {% endif %}
          </div>
        </center>
        <hr>
        {% endif %}
        
        
        
        <div class="explicacao">
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Como Funciona?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <p>Você ganha dinheiro real clicando em anúncios. É tão fácil quanto dar um clique na tela do seu celular! Você ganha coins. Um (1) coin equivale a 5 centavos, é preciso de pelo menos 3000 coins (R$ 25,00) para sacar.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Como Ganhar Ainda Mais!?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <p>Você pode convidar seus amigos usando seu link de referência e ganhar 30% do lucro deles para sempre!<br>
          Aqui está seu link de referência: <span style="color: grey;">https://br.asker.fun/?r={{ user.id }}</span></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Como Sacar?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <p>É possível retirar o dinheiro via PicPay, Pix ou PayPal.<br>
          O botão de saque será liberado quando o valor mínimo de R$ 25,00 (3000 coins) for atingido.</p>
          <p>Obs: para sacar, você precisa ter pelo menos 10 referências ativas. Ativo = pelo menos 2 cliques no anúncio.</p>
      </div>
    </div>
  </div>
</div>
      </main>
    {% else %}
      <main>
        {% if ref %}
          <p><a href="/signup?redirect=/rewards&r={{ ref }}" id="crie-uma-conta">Crie uma conta</a> ou <a href="/signin?redirect=/rewards">faça login</a> para começar a ganhar dinheiro! 🤑</p>
        {% else %}
          <p><a href="/signup?redirect=/rewards">Crie uma conta</a> ou <a href="/signin?redirect=/rewards">faça login</a> para começar a ganhar dinheiro! 🤑</p>
        {% endif %}
        
        <div class="explicacao">
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Como Funciona?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <p>Você ganha dinheiro real clicando em anúncios. É tão fácil quanto dar um clique na tela do seu celular! Você ganha coins. Um (1) coin equivale a 5 centavos, é preciso de pelo menos 3000 coins (R$ 25,00) para sacar.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Como Ganhar Ainda Mais!?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <p>Você pode convidar seus amigos usando seu link de referência e ganhar 30% do lucro deles para sempre!</p>
      </div>
    </div>
  </div>
</div>
      </main>
    {% endif %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
    
    <script>
      valor_da_recompensa = "{{ valor_da_recompensa }}";
      
      ad1 = document.getElementById("ad1");
      if (ad1 != null) {
        ad1.onclick = function() {
          $.ajax({
            url: "/increase_balance",
            complete: function () {
              alert("Parabéns! Você ganhou " + valor_da_recompensa + " coins!");
              window.location.reload();
            }
          });
        };
      }
      
function copyLink() {
  /* Get the text field */
  var copyText = document.getElementById("ref_link1");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");
}
    </script>
    
    {% if PROPELLER_ADS_INTERSTICIAL %}
      <!-- PROPELLER ADS INTERSTICIAL -->
      <script async="async" data-cfasync="false" src="//upgulpinon.com/1?z=4435034"></script>
    {% endif %}
    
    <!-- PROPELLER ADS IN PAGE PUSH BANNER -->
    <script type="text/javascript" src="//inpage-push.com/400/4435030" data-cfasync="false" async="async"></script>
    <!-- PROPELLER ADS PUSH NOTIFICATIONS -->
    <script src="https://yonhelioliskor.com/pfe/current/tag.min.js?z=4435507" data-cfasync="false" async></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    
    {% if user.is_authenticated %}
      <script>
        if (!localStorage.getItem("can")) {
          var tem_mais_de_16_anos = confirm("É necessário ter no mínimo 16 anos de idade para usar o sistema de recompensas do Asker. Você confirma ter pelo menos 16 anos de idade?");
          
          if (!tem_mais_de_16_anos) {
            window.location.href = "/";
          } else
            localStorage.setItem("can", true);
        }
      </script>
    {% endif %}
  </body>
</html>
