/* Formulário de responder perguntas. */
textarea.large-compact {
	height: 65px;
	transition: all 0.3s ease-out;
}

/* Navbar */
.navbar-round {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: solid 1px #ddd;
    border-color: #ddd !important;
    padding: 11px 12px;
    font-size: 15px;
}
@media (min-width: 320px) and (max-width: 570px) {
	.navbar-brand {
		margin-right: 0px;
	}
}
@media (min-width: 570px) and (max-width: 760px) {
	.navbar-nav {
		font-size: 2vw;
		text-align: center;
	}
}
/* Navbar-end */

/* Index */
#reload {
	width: 35px;
	height: 35px;
	margin-right: 4px;
}
.spinner {
  animation: spin-animation 1s infinite;
  display: inline-block;
}
.answer-btn {
	display: none;
}
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.question-title {
	font-size: 1em;
	font-weight: bold;
}

.end {
	font-size: larger;
	text-align: center;
}
/* Index-end */

/* Ask */
.ask-form * {
	margin-top: 5px;
}
#button-container {
    margin-top: 10px;
    margin-bottom: 5px;
}
#poll-box {
  margin-bottom: 10px;
}
/* Ask-end */

/* Error */
.err-msg {
    text-align: center;
}
/* Error-end */

/* Profile */
#bio {
    width: 80%;
}
#center1 img {
    max-width: 30vw;
    max-height: 30vh;
    display: block;
}
.blocked-user a {
    float: left;
}
.blocked-user span {
    float: right;
    cursor: pointer;
}
#responses-section, #blocked-section, #silenced-section {
	display: none;
}
/* Profile-end */

/* Question */
.response-image {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: auto;
}
.vid-container {
  height: 20vw;
  max-height: 350px;
}
.yt-vid {
  position: relative;
  width: 60%;
  height: 100%;
  display: block;
}
.poster-info {
  font-size: 80%;
  display: flex;
  text-decoration: none;
}
.poster-info:hover {
  text-decoration: none;
}
.poster-container, .best-answer-badge {
  margin-bottom: 15px;
}
.best-answer-badge span {
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.poster-profile-pic-container,
.poster-text-container {
  display: flex;
  align-items: center;
  padding-right: 6px;
}
.poster-profile-pic-container img {
  width: 45px;
  min-height: 20px;
  max-height: 70px;
}
.poster-text-container .r-username {
	display: block;
}

.choice.list-group-item:first-child {
  border-top: none;
}
.chooser label {
  cursor: pointer;
  width: 100%;
  margin-bottom: -6px;
}
.progress {
    border: 1px solid #ccc;
}
.choice-show {
    margin-bottom: 5px;
}
.choice.list-group-item:hover, .c {
  background-color: rgba(0, 0, 0, 0);
}
.comments {
  margin-top: 14px !important;
  padding: 10px;
}
.comm-card {
  padding-top: 1.25rem;
}
.edit-response-textarea {
    margin-top: 12px;
}
#edit-response-form, #upload-photo {
  display: none;
}
.heart-comment {
  display: inline;
}
.hc-icon {
  cursor: pointer;
}
.response-control {
    float: right;
}
@media (min-width: 320px) and (max-width: 580px) {
  .r-question {
    width: 95%;
    margin: auto;
  }
  .vid-container {
    height: 50vw;
    max-height: 300px;
  }
  .yt-vid {
    position: relative;
    width: 90%;
    height: 100%;
    display: block;
  }
}
/* Question-end */

/* To generalize */
.flexbox {
    display: flex
}
.fg-1 {
    flex-grow: 1;
}
/* To generalize-end */

/* Rank */
.ranked-u-stats {
    display: flex;
}
.ranked-u-stats div {
    flex-grow: 1;
}
/* Rank-end */

/* Notification */
.page-btn-container {
    display: flex;
    padding: 2px;
}
.page-btn-container a {
    margin: 2px;
}
/* Notification-end */

/* General */
.no-horiz-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.card {
    margin-bottom: 2px;
}
#tabs {
	width: 100%;
	max-width: 920px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 1% auto;
	margin-bottom: -1px;
	border-bottom: none;
	overflow-x: auto;
	overflow-y: hidden;
	flex-wrap: nowrap;
}
#tabs li {
	cursor: pointer;
    white-space: nowrap;
}
.form-control {
  border: 1px solid rgba(0,0,0,.125);
}
.vertical-spaced {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.left-spaced {
    margin-left: 5px;
}
.right-spaced {
    margin-right: 10px;
}
main {
    width: 60%;
    max-width: 960px;
    margin: auto;
}
.small-text {
    font-size: 80%;
}
.list-group-item {
  /*Corrige BS*/
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item:focus,
.list-group-item:hover {
  /*Corrige BS*/
  z-index: 0;
  text-decoration: none;
}
.float-right {
    float: right;
}
.inline {
    display: inline;
}
.comment-form {
  /* TODO: deletar em ver. futura, substituir por form.inline-input à la reset-pw-1-part */
  flex-grow: 1;
  margin-right: 10px;
}
.comm-form {
  /* TODO: deletar em ver. futura, substituir por form.inline-input à la reset-pw-1-part */
  display: flex;
}
.inline-input .left-input {
  flex-grow: 1;
  margin-right: 10px;
}
.modal-body {
  padding: 1px;
}

@media (min-width: 320px) and (max-width: 580px) {
  .comm-form .btn {
  /* TODO: deletar em ver. futura, substituir por form.inline-input à la reset-pw-1-part */
    margin-top: 4px;
    flex-grow: 1;
  }
  .comment-form {
  /* TODO: deletar em ver. futura, substituir por form.inline-input à la reset-pw-1-part */
    margin-right: 0px;
  }
  .inline-input .left-input {
    margin-right: 0px;
  }
  .inline-input .btn {
    margin-top: 4px;
    flex-grow: 1;
  }
  main, #tabs {
      width: 98%;
  }
}
/* General-end */




@use postcss-mixins;
@use postcss-nested;
@use postcss-simple-vars;

@define-mixin atMedium {
  @media (min-width: 600px) {
    @mixin-content;
  }
}
@define-mixin atLarge {
  @media (min-width: 900px) {
    @mixin-content;
  }
}

$card-height-large-screen: 20rem;
$card-height-mobile: 12rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: $card-height-mobile;
  @mixin atLarge {
    height: $card-height-large-screen;
  }
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
      z-index: 0;
    }
  
  &__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
/*     background: rgba(255,0,0,.5); */
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
  }
  &__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
/*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
  }
  &__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
  }
  &__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
  }
  &__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
  }
  @mixin atLarge {
    &:hover &__details-wrapper {
      max-height: $card-height-large-screen;
      opacity: 1;
    }
    &:hover &__text-wrapper {
      background-color: rgba(0, 0, 0, 0.6);
    }
    &:hover &__title {
      color: yellow;
    }
    &:hover &__image {
      transform: scale(1.2);
      z-index: -1;
    }
  }
  &__excerpt {
    font-weight: 300;
  }
  &__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
    i {
      position: relative;
      left: 0.2rem;
      color: #888;
      transition: left 0.5s ease, color 0.6s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover i {
      left: 0.5rem;
      color: yellow;
    }
  }
}





