/* Question */
.poster-info {
  color: #343a40;
}
.poster-info:hover {
  color: black;
}
.post-pub-date {
  color: #888;
}
/* Question-end */

/* General */
.clickable, .clickable:hover {
    color: #212529;
}
.bg-inner {
  background-color: rgba(0, 0, 0, .03) !important;
  color: #212529;
}
.bg-innermost {
  background-color: rgba(0, 0, 0, .03) !important;
  color: #212529;
}
.small-text, .light-text {
    color: #888;
}
/* General */