{% load humanize %}
{% load main_app_extras %}

<!-- kfO1wMuva3hNgh0AhIviPyhEGyoRjDdX -->

{% for question in questions %}
    {% if not question.creator.ban or question.creator.ban and user != question.creator.user %}
	    {% if not question.creator.user in user_p.silenced_users.all %}
	    <li class="list-group-item bg-main" data-id="{{ question.id }}">
		    <div class="card-body" style="padding-bottom: 10px">
                <div class="profile-picture-index" style="padding-bottom: 7px">
                    <div class="profile-pic-small" style="width: 20px; height: 20px; border-radius: 100px; background: url('{{ question.creator.avatar.url }}'); background-size: cover; background-repeat: no-repeat; vertical-align: middle; display:inline-block">
                    </div>
                    <span class="left-spaced" style="font-weight: 600; font-size: 12px; opacity: 0.7; vertical-align: middle; padding-top: 2px;">
                        {{ question.creator }}
                    </span>
                </div>
			    <h2 class="question-title fg-1" style="font-size: 17px">
				    <a class="q-title" style="text-decoration: none; outline: none" href="/question/{{ question.id }}">
					    {{ question.text }}
				    </a>
			    </h2>
			    
			    {% if question.description %}
				    <p class='description'>{{ question.description }}</p>
			    {% endif %}

            <small class="text-muted">
                            
                    <span id="response-counter-{{ question.id }}" style="color: #00CD66; font-weight: 700">
                        {{ question.total_responses }}
                    </span>

                    <span id="response-sentence-{{ question.id }}" style="color: #00CD66; font-weight: 700">
                        Respostas
                    </span>
               

                    <span>
                         &#8226;  {% fix_naturaltime question.pub_date|naturaltime %} 
                    </span>
                
                    <span> &#8226; </span> 
                
                  <span> <b style="color: #1874CD">{{ question.total_views }} </b></span>
                  <span style="color: #1874CD; margin-left: -2px; font-weight: 700"><ion-icon name="eye"></ion-icon></span>
                
                </small>    

                {% if question.image %}
                <div class="index-qimg-container" style="padding-bottom: 9px">
		                    <button class="index-qimg-btn" onclick="image_toggle(this);">
                        <div class="overflow-guide">
                            <div class="separator-100"></div>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
					    <div class="index-qimg-off">
        						<img class="index-qimg" src="{{ question.image.url }}">
					    </div>
                    </button>
                </div>
                {% endif %}
           
                
			    {% if user.is_anonymous %}
				    <p>Faça <a href="/signin?redirect=/question/{{ question.id }}">login</a> ou <a href="/signup?redirect=/question/{{ question.id }}">crie uma conta</a> para responder essa pergunta.</p>
			    {% else %}
				    {% answer user question as ANSWER %}
				    {% if ANSWER %}
                        <div class="vertical-spaced user-response" data-iddapergunta="{{ question.id }}">
	                        <p>
		                        <b>Sua Resposta:</b><br>
		                        {{ ANSWER }}
	                        </p>
                        </div>
				    {% else %}
           
                        <div class="vertical-spaced user-response" data-iddapergunta="{{ question.id }}" style="margin-bottom: 10px; padding-top: 10px">
						    <button class="vertical-spaced btn btn-outline-primary btn-sm" onclick="$(this).toggle(0); $('#answer-box-{{ question.id }}').toggle(0);" style="border-radius: 30px; border: none; margin-top: -5px; margin-left: -8px">
							    <i class="fas fa-share" style="color: #BA55D3"></i>
							   <b style="opacity: 0.7"> Responder </b>
						    </button>
					    </div>					   
                        <div id="answer-box-{{ question.id }}" style="display: none">
						    <form onsubmit="return enviar_resposta_pergunta(this);">
							    {% csrf_token %}
							    <input type="hidden" name="from" value="index">
							    <input name="question_id" type="hidden" value="{{ question.id }}">
							    
		                        <textarea onclick="$(this).css('height', '140px');" name="text" maxlength="5000" class="form-control form-control-sm" placeholder="Sua Resposta:" required></textarea>
                                <br>
                                <button name="submit_btn" type="submit" style="border-radius: 30px" class="btn btn-outline-primary btn-sm">
	                                 <i class="far fa-paper-plane"></i>
		                             Enviar
                                 </button>
						    </form>
					    </div>
				    {% endif %}
			    {% endif %}
		    </div>
	    </li>
	    {% endif %}
    {% endif %}
{% endfor %}

