{% load humanize %}
{% load main_app_extras %}

<!-- kfO1wMuva3hNgh0AhIviPyhEGyoRjDdX -->


<style>
@use postcss-mixins;
@use postcss-nested;
@use postcss-simple-vars;

@define-mixin atMedium {
  @media (min-width: 600px) {
    @mixin-content;
  }
}
@define-mixin atLarge {
  @media (min-width: 900px) {
    @mixin-content;
  }
}

$card-height-large-screen: 20rem;
$card-height-mobile: 12rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: $card-height-mobile;
  @mixin atLarge {
    height: $card-height-large-screen;
  }
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
      z-index: 0;
    }
  
  &__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
/*     background: rgba(255,0,0,.5); */
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
  }
  &__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
/*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
  }
  &__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
  }
  &__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
  }
  &__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
  }
  @mixin atLarge {
    &:hover &__details-wrapper {
      max-height: $card-height-large-screen;
      opacity: 1;
    }
    &:hover &__text-wrapper {
      background-color: rgba(0, 0, 0, 0.6);
    }
    &:hover &__title {
      color: yellow;
    }
    &:hover &__image {
      transform: scale(1.2);
      z-index: -1;
    }
  }
  &__excerpt {
    font-weight: 300;
  }
  &__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
    i {
      position: relative;
      left: 0.2rem;
      color: #888;
      transition: left 0.5s ease, color 0.6s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover i {
      left: 0.5rem;
      color: yellow;
    }
  }
}

</style>



{% for question in questions %}
    {% if not question.creator.ban or question.creator.ban and user != question.creator.user %}
	    {% if not question.creator.user in user_p.silenced_users.all %}
	    <li class="list-group-item bg-main" data-id="{{ question.id }}">
		<a href="/question/{{ question.id }}" style="text-decoration: none; color: inherit">

        <div class="card-body news-card" style="padding-bottom: 32px">
			<div class="profile-picture-index">
				<div class="profile-pic-small" style="background: url('{{ question.creator.avatar.url }}');">
				</div>
				<span class="qcreator-small">
					{{ question.creator }}
				</span>
			</div>
			<h2 class="question-title fg-1" style="overflow: hidden; font-size: 16px">
				<a class="q-title" style="text-decoration: none; outline: none" href="/question/{{ question.id }}">
					{{ question.text }}
				</a>
			</h2>

			{% if question.videofile %}
				<div class="index-qvid-btn" onclick="load_vid(this, '{{ question.videofile }}')">
					<div class="index-qvid">
						{% if question.videothumb %}
                        <div style="background: url('{{ question.videothumb.url }}');" class="index-qimg qvid-thumb-container">
                            <img class="qvid-thumb" src="{{ question.videothumb.url }}">
                        </div>
						
						{% else %}
						<img class="index-qimg" src="/static/images/default-thumb.jpg">
						{% endif %}
						<div class="qvid-container"></div>
						{% comment %}
						<video class="qvid-file" style="max-height: 500px; width: 100%; visibility: hidden;" src="{{ question.videofile.url }}"muted> </video>
						{% endcomment %}
						<div class="qvid-controls" style="display: flex; background-color: black; height: 40px; font-size: 22px; color: white;">
							<div>
								<a class="qvplay"><ion-icon name="play-outline"></ion-icon></a>
								<a class="qvpause hidden"><ion-icon name="pause-outline"></ion-icon></a>
							</div>
							<div class="qvid-bar" style="flex-grow: 1; background-color: whitesmoke; height: 30%; margin: auto 15px; border-radius: 80px; overflow: hidden;">
								<div class="qvid-prog" style="height: 100%; background: linear-gradient(to left, #f16fa1, #9056f1)"></div>
							</div>
							<div>
								<a class="qvmt"><ion-icon name="volume-mute-outline"></ion-icon></a>
								<a class="qvunmt hidden"><ion-icon name="volume-high-outline"></ion-icon></a>
								<a class="qvexpand"><ion-icon name="expand-outline"></ion-icon></a>
							</div>
						</div>
					</div>
				</div>
				<br>
			{% endif %}

			{% if question.description %}
            <a style="text-decoration: none; outline: none; color: inherit; font-size: 13px" href="/question/{{ question.id }}">
				    <p class='description' style="overflow: hidden;">{{ question.description }}</p>
            </a>
			{% endif %}
			
			{% if question.image %}
				<div class="index-qimg-container" style="padding-bottom: 9px">
						<button class="index-qimg-btn" onclick="image_toggle(this);">
						<div class="overflow-guide">
							<div class="separator-100"></div>
							<ion-icon name="chevron-down-outline"></ion-icon>
						</div>
						<div class="index-qimg-off">
								<img class="index-qimg" src="{{ question.image.url }}">
						</div>
					</button>
				</div>
			{% endif %}
	   
            <small class="text-muted qinfo">
				{% if not user.is_anonymous %}
					{% starred user question as STARRED %}
					{% if STARRED %}
					<a style="font-size: 12px; padding-right: 6px;" onclick="star_question(this, {{ question.id }});"> <ion-icon class="offstar hidden" name="thumbs-up-outline"></ion-icon> <ion-icon class="onstar text-warning" name="thumbs-up"></ion-icon> <span class="starcount" style="font-size: 15px">{{ question.total_stars }}</span> &#8226; </a>
					{% else %}
					<a style="font-size: 14px" onclick="star_question(this, {{ question.id }});"> <ion-icon class="offstar" name="thumbs-up-outline"></ion-icon> <ion-icon class="onstar text-warning hidden" name="thumbs-up"></ion-icon> <span class="starcount warning-text onstar" style="font-size: 15px">{{ question.total_stars }}</span> &#8226; </a>
					{% endif %}
				{% endif %}
				<span id="response-counter-{{ question.id }}" style="color: #00CD66; font-weight: 700">
					{{ question.total_responses }}
				</span>
				<span id="response-sentence-{{ question.id }}" style="color: #00CD66; font-weight: 700">
					Respostas
				</span>
				<span>
					&#8226;  {% fix_naturaltime question.pub_date|naturaltime %} 
				</span>
				<span> &#8226; <ion-icon name="eye"></ion-icon> {{ question.total_views }} </span>
            </small>
			    {% if user.is_anonymous %}
				    <p>Faça <a href="/signin?redirect=/question/{{ question.id }}">login</a> ou <a href="/signup?redirect=/question/{{ question.id }}">crie uma conta</a> para responder essa pergunta.</p>
			    {% else %}
				    {% answer user question as ANSWER %}
				    {% if ANSWER %}
                        <div class="vertical-spaced user-response" data-iddapergunta="{{ question.id }}">
	                        <p>
		                        <b>Sua Resposta:</b><br>
		                        {{ ANSWER }}
	                        </p>
                        </div>                                                
						  
				    {% endif %}
			    {% endif %}
		    </div>
        </a>
	    </li>
	    {% endif %}
    {% endif %}
{% endfor %}
