{% load humanize %}
{% load main_app_extras %}

<!-- kfO1wMuva3hNgh0AhIviPyhEGyoRjDdX -->

{% for question in questions %}
    {% if not question.creator.ban or question.creator.ban and user != question.creator.user %}
	    {% if not question.creator.user in user_p.silenced_users.all %}
	    <li class="list-group-item bg-main" data-id="{{ question.id }}">
		<a href="/question/{{ question.id }}" style="text-decoration: none; color: inherit">

        <div class="card-body" style="padding-bottom: 12px">
			<div class="profile-picture-index">
				<div class="profile-pic-small" style="background: url('{{ question.creator.avatar.url }}');">
				</div>
				<span class="qcreator-small">
					{{ question.creator }}
				</span>
			</div>
			<h2 class="question-title fg-1" style="font-size: 16px">
				<a class="q-title" style="text-decoration: none; outline: none" href="/question/{{ question.id }}">
					{{ question.text }}
				</a>
			</h2>
			
			{% if question.description %}
            <a style="text-decoration: none; outline: none; color: inherit; font-size: 13px" href="/question/{{ question.id }}">
				    <p class='description'>{{ question.description }}</p>
            </a>
			{% endif %}
			
			{% if question.image %}
			<a href="/question/{{ question.id }}"> 
				<div class="index-qimg-container" style="padding-bottom: 9px">
							<button class="index-qimg-btn" onclick="image_toggle(this);">
						<div class="overflow-guide">
							<div class="separator-100"></div>
							<ion-icon name="chevron-down-outline"></ion-icon>
						</div>
						<div class="index-qimg-off">
								<img class="index-qimg" src="{{ question.image.url }}">
						</div>
					</button>
				</div>
			</a>
			{% endif %}
	   
            <small class="text-muted">
				<span id="response-counter-{{ question.id }}" style="color: #00CD66; font-weight: 700">
					{{ question.total_responses }}
				</span>

				<span id="response-sentence-{{ question.id }}" style="color: #00CD66; font-weight: 700">
					Respostas
				</span>
		   

				<span>
					 &#8226;  {% fix_naturaltime question.pub_date|naturaltime %} 
				</span>
			
				<span> &#8226; </span> 
			
			  <span> {{ question.total_views }} </span>
			  <span style="margin-left: -2px; font-weight: 700"><ion-icon name="eye"></ion-icon></span>
			
            </small>
			    {% if user.is_anonymous %}
				    <p>Faça <a href="/signin?redirect=/question/{{ question.id }}">login</a> ou <a href="/signup?redirect=/question/{{ question.id }}">crie uma conta</a> para responder essa pergunta.</p>
			    {% else %}
				    {% answer user question as ANSWER %}
				    {% if ANSWER %}
                        <div class="vertical-spaced user-response" data-iddapergunta="{{ question.id }}">
	                        <p>
		                        <b>Sua Resposta:</b><br>
		                        {{ ANSWER }}
	                        </p>
                        </div>
				    {% else %}
           
                        <div class="vertical-spaced user-response" data-iddapergunta="{{ question.id }}" style="margin-bottom: 10px; padding-top: 10px">
						    <a class="vertical-spaced" onclick="$(this).toggle(0); $('#answer-box-{{ question.id }}').toggle(0);" style="color: inherit; font-size: 13px; opacity: 0.8; background: transparent; margin-top: -5px; margin-left: 0px">
							    <i class="fas fa-share" style="color: #BA55D3"></i>
							   <b style="opacity: 0.7"> Responder </b>
						    </a>
					    </div>					   
                        <div id="answer-box-{{ question.id }}" style="display: none">
						    <form onsubmit="return enviar_resposta_pergunta(this);">
							    {% csrf_token %}
							    <input type="hidden" name="from" value="index">
							    <input name="question_id" type="hidden" value="{{ question.id }}">
							    
		                        <textarea onclick="$(this).css('height', '140px');" name="text" maxlength="5000" class="form-control form-control-sm" style="border-radius: 15px" placeholder="Sua Resposta:" required></textarea>
                                <br>
                                <button name="submit_btn" type="submit" style="border-radius: 30px" class="btn btn-outline-primary btn-sm">
	                                 <i class="far fa-paper-plane"></i>
		                             Enviar
                                 </button>
						    </form>
					    </div>
				    {% endif %}
			    {% endif %}
		    </div>
        </a>
	    </li>
	    {% endif %}
    {% endif %}
{% endfor %}

